div(ng-controller='team as team', style='padding-top: 1px;')
	#confirmMemberAddModal.modal.fade(tabindex='-1',
	role='dialog',
	aria-labelledby='confirmMemberAddModalLabel',
	aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal')
						span(aria-hidden='true') ×
						span.sr-only {{ ui.message.close }}
					h4#confirmMemberAddModalLabel.modal-title {{ ui.groups.changeMemberShip }}
				.modal-body(ng-init='member.changeMemberTeamOption = 2')
					p
						| {{ ui.groups.doYou }}
						strong {{ member.selected.firstName }} {{ member.selected.lastName }} 
						| {{ ui.groups.memberOfATeam }}
						strong {{ [team.current.teamId]|getTeamNameById }}
						| ? 
					div.radio
						label
							input.radioButton(type="radio" 
								ng-model='member.changeMemberTeamOption'
								value='2')
							strong {{ ui.planboard.add }}
							span.help-block
								small
									i
										| {{ ui.groups.personPartOfTeams }}
										strong  {{  [team.current.teamId]|getTeamNameById }}, {{ member.selected.teamUuids|getTeamNameById }}
					div.radio
						label
							input.radioButton(type="radio" ng-model='member.changeMemberTeamOption' value='1')
							strong {{ ui.groups.replace }}
							span.help-block
								small
									i
										| {{ ui.groups.personPartOfTeam }}
										strong {{ [team.current.teamId]|getTeamNameById }}
				.modal-footer
					button.btn.btn-default(type='button',
					data-dismiss='modal') {{ui.teamup.confirms.cancel}}
					button.btn.btn-primary(type='button',
					ng-click='team.addMember(member.selected, member.changeMemberTeamOption, true)') {{ ui.profile.edit }}
	
	
	.page-header
		h2.nullable {{ui.teamup.teams}}
		.selectGroup(ng-if='team.list.length > 1')
			span.selectTitles
				strong
					| {{ ui.teamup.selectTeam }}
			select(ng-model='team.current.teamId',
				ng-options='t.uuid as t.name for t in team.list | orderBy:"name"',
				ng-selected='team.current.teamId',
				ng-change='team.init(team.current.teamId)')
		
	.tabbable.tabs-left
		ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0px;', bs-navbar)
			include ../teams/tabs
		.tab-content
			#newMemberTab.tab-pane(class="active", style="min-height: 282px;")
				.tab-header
					h3.pull-left {{ui.teamup.searchMember}}
					form(ng-submit='member.search(searchValue); member.searchSubmit=true')
						.input-group.has-feedback.pull-left.marginLeftTen(style='width: 260px;')
							input.form-control.search-query(
								type='text',
								placeholder='{{ ui.teamup.searchMembers }}',
								focus
								ng-model='searchValue')
							span(class="input-group-btn")
								button.search-button(ng-model='member.searchSubmit' ng-init="member.searchSubmit=false",
								ng-click='member.search(searchValue); member.searchSubmit=true',
								input-rule-toggle='1',
								class="btn btn-default input-buttons add-button",
								type="button")
									i(class="glyphicon glyphicon-white glyphicon-search")
				hr
				div
					p(ng-show='! member.searchSubmit') {{ ui.teamup.howToSearchMembers }}
					p(ng-show="member.load") {{ ui.teamup.loadingMembers }}
					p(ng-show='member.searchResults.length == 0 && ! member.load') {{ui.teamup.noMembersFound}}
					table.table.table-striped(ng-show='member.searchResults.length && ! member.load')
						thead
							tr
								th
								th
									a(ng-click='memberInTeamOrder="lastName"; reverse=!reverse') {{ui.teamup.name}}
										i.icon-sort
								th
									a(ng-click='memberInTeamOrder="teamUuids"; reverse=!reverse') {{ui.teamup.teams_Cap}}
										i.icon-sort
								th
						tbody
							tr(ng-repeat='m in member.searchResults | orderBy:memberInTeamOrder:reverse')
								td
									.roundedPicSmall(class='{{m.states|stateColor}}',
									back-img = '{{m.uuid | avatar:"team":"80" }}')
								td
									a(href='index.html#/profile/{{m.uuid}}#profile')
										| {{m.firstName}} {{m.lastName}}
								td
									| {{ m.teamUuids | getTeamNameById : member.searchTeams }}
								td
									.pull-right
										button.btn-primary.btn-mini(
											ng-click='team.addMember(m); member.selected = m',
											ng-hide='m.teamUuids.indexOf(team.current.teamId) >= 0')
												span.icomoon(data-icon='')
					span.muted.pull-right(ng-show='member.searchResults.length > 0')
						small
							i {{ member.searchResults.length | i18n_spec:'groups.memberCount'}}