li(data-match-route='/team/members')
	a(data-toggle='tab', ng-click='nav("team/members")')
		span.icomoon(data-icon='',
		aria-hidden='true')
		| {{ui.teamup.teams}}

li(data-match-route='/team/new'
	ng-show="app.resources.role == 1")
	a(data-toggle='tab',
	ng-click='nav("team/new")')
		span.icomoon(data-icon='',
		aria-hidden='true')
		| {{ui.teamup.newTeam}}

li(data-match-route='/team/member/new'
	ng-show="app.resources.role == 1 || app.domainPermission.teamSelfManagement")
	a(data-toggle='tab',
	ng-click='nav("team/member/new")')
		span.icomoon(data-icon='',
		aria-hidden='true')
		| {{ui.teamup.newMember}}
	
li(data-match-route='/team/member/search'
	ng-show="app.resources.role == 1 || app.domainPermission.teamSelfManagement")
	a(data-toggle='tab',
	ng-click='nav("team/member/search")')
		span.icomoon(data-icon='',
		aria-hidden='true')
		| {{ui.teamup.searchMember}}