section#planboard(ng-controller='agenda-timeline', scroll)
	.agenda-timeline.page-header
		h2.nullable {{ui.planboard.planboard}}
		include timeline/time-quick-availability
	include timeline/time-travel
	include timeline/time-slot
		
	.agenda-timeline-tabs.tabbable.tabs-left
		ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0px;', bs-navbar)
			include tabs
		
		.tab-content
		
			// timeline(class="{{( ! views.agenda==true) && 'active'}}")
			div#timelineTab.tab-pane.active
				#timeline
					div#timeline-toolbar
						div#toolbar_left.pull-left(style="width: 75%;")
							select.form-control.pull-left(ng-show='(app.resources.teamUuids.length > 1 || app.resources.role == 1)',
							ng-model='timeline.current.group',
							ng-options='group.uuid as group.name for group in groups | orderBy:"name"',
							ng-selected='timeline.current.group',
							ng-change='requestTimeline()')
								//select.form-control(ng-model='timeline.current.division',
								//ng-options='division.id as division.label for division in divisions',
								//ng-selected='timeline.current.division',
								//ng-change='changeDivision()',
								//ng-show='divisions.length > 0')
							button.btn.btn-primary.pull-left(type='button',
							style='margin: 3px 10px; 0 0',
							data-content-template='views/team-telephone/timeline/groups-wish.html',
							data-placement='bottom',
							bs-popover='',
							data-title='{{ ui.agenda.wished }} {{ ui.agenda.change }}',
							ng-hide='app.resources.role > 1')
								span.badge.badge-inset
									| {{wish}}
								| &nbsp;{{ui.agenda.requiredPeople}}
							h3.pull-left(style="font-weight: normal; margin-top: 8px;") {{ timeline.current.group | getGroupNameById | toTitleCase}}
						
						div(class="{{ (browser.mobile) && 'pull-left' || 'pull-right' }}",
						style="{{ (browser.mobile) && 'margin-left: -10px;' }}")
							//.btn-group(ng-show='timeline.current.layouts.group')
							//	button.btn.btn-primary(type='button',
							//		class="{{(timeline.config.bar==true) && 'active'}}",
							//		ng-click='barCharts()',
							//		ng-model='timeline.config.bar') 
							//			i.glyphicon.glyphicon-stats
							//{{ui.agenda.barCharts}}
							//.btn-group(ng-show='timeline.current.layouts.group')
							//	button.btn.btn-primary(type='button',
							//	class="{{(timeline.config.wishes==true) && 'active'}}",
							//	ng-click='groupWishes()',
							//	ng-model='timeline.config.wishes') {{ui.agenda.wishes}}
							.btn-group
								button.btn.btn-primary(type='button',
								class="{{(timeline.config.bar==true) && 'active'}}",
								ng-click='barCharts()',
								ng-model='timeline.config.bar')
									i.glyphicon.glyphicon-stats
								button.btn.btn-primary(type='button',
								class="{{(timeline.current.layouts.group==true) && 'active'}}",
								ng-model='timeline.current.layouts.group',
								ng-click='requestTimeline("group")') {{ui.teamup.team }}
								button.btn.btn-primary(type='button',
								class="{{(timeline.current.layouts.members==true) && 'active'}}",
								ng-model='timeline.current.layouts.members',
								ng-click='requestTimeline("members")',
								ng-show='(app.resources.role < 3) || timeline.config.layouts.members')  {{ui.agenda.members}}
								//.icomoon
								//data-icon='',
								//aria-hidden='true',
								
					hr
					
					div.alert.alert-warning(ng-show='infoAvailibility')
						button.close(type='button',
						ng-click='disableInfoAvailibility()',
						data-dismiss='alert') ×
						small
							| {{ ui.agenda.the }}
							strong
								i  {{ ui.agenda.reachabilityChangedSentence }} 
							|  {{ ui.agenda.byThe }} 
							| {{ ui.agenda.doubleClick }}
							strong
								i  {{ ui.agenda.byDragging }}
							|  {{ ui.agenda.leftButtonMouse }}
							strong  SHIFT (Mac) 
							|  {{ ui.agenda.or }}
							strong  CTRL (Windows) 
							|  {{ ui.agenda.buttonPushed }}
		
					#mainTimeline(set-position-slot-form)
					div.legends-agenda
						include timeline/time-legends
				p
					small.pull-left
						span.text-warning {{ui.agenda.lastSyncTime}}
						span.text-muted &nbsp; {{data.synced | nicelyDate}}
					small.pull-right
						span.text-warning {{ui.agenda.dataRangeStart}}
						span.text-muted {{data.periods.start | nicelyDate}}
						| &nbsp;&nbsp;| &nbsp;
						span.text-warning {{ui.agenda.dataRangeEnd}}
						span.text-muted {{data.periods.end | nicelyDate}}
			
