section#planboard(ng-controller='agenda-timeline')
	.agenda-timeline.page-header
		h2.nullable {{ui.planboard.planboard}}
		include ../agenda/time-quick-availability
	include ../agenda/time-travel
	include ../agenda/time-slot
		
	.agenda-timeline-tabs.tabbable.tabs-left
		ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0px;', bs-navbar)
			include ../agenda/tabs
		
		.tab-content
		
			// timeline(class="{{( ! views.agenda==true) && 'active'}}")
			div#timelineTab.tab-pane.active
				#timeline
					//include agenda/time-toolbar.jade
					div#timeline-toolbar
						.pull-left
							select.form-control(ng-model='timeline.current.group',
							ng-options='group.uuid as group.name for group in groups',
							ng-selected='timeline.current.group',
							ng-change='requestTimeline()',
							ng-show='timeline.current.layouts.group')
							//select.form-control(ng-model='timeline.current.division',
							//ng-options='division.id as division.label for division in divisions',
							//ng-selected='timeline.current.division',
							//ng-change='changeDivision()',
							//ng-show='divisions.length > 0')
						br(ng-show='browser.mobile')
						br(ng-show='browser.mobile')
						div(class="{{ (browser.mobile) && 'pull-left' || 'pull-right' }}",
						style="{{ (browser.mobile) && 'margin-left: -10px;' }}")
							.btn-group
								button.btn.btn-default(type='button',
								class="{{(timeline.config.legendarer==true) && 'active'}}",
								ng-click='showLegenda()',
								ng-model='timeline.config.legendarer') {{ui.agenda.legenda}}
							.btn-group(ng-show='timeline.current.layouts.group')
								button.btn.btn-default(type='button',
								class="{{(timeline.config.bar==true) && 'active'}}",
								ng-click='barCharts()',
								ng-model='timeline.config.bar') {{ui.agenda.barCharts}}
							.btn-group(ng-show='timeline.current.layouts.group')
								button.btn.btn-default(type='button',
								class="{{(timeline.config.wishes==true) && 'active'}}",
								ng-click='groupWishes()',
								ng-model='timeline.config.wishes') {{ui.agenda.wishes}}
							.btn-group
								button.btn.btn-default(type='button',
								class="{{(timeline.current.layouts.group==true) && 'active'}}",
								ng-model='timeline.current.layouts.group',
								ng-click='requestTimeline("group")') {{ui.agenda.group}}
								button.btn.btn-default(type='button',
								class="{{(timeline.current.layouts.members==true) && 'active'}}",
								ng-model='timeline.current.layouts.members',
								ng-click='requestTimeline("members")',
								ng-show='(app.resources.role < 3) || timeline.config.layouts.members')  {{ui.agenda.members}}
								//.icomoon
								//data-icon='',
								//aria-hidden='true',
								
					hr
					// alert-window
					div.alert.alert-warning(ng-show='registeredNotifications.timeLineDragging')
						button.close(type='button',
						ng-click='registerNotification("timeLineDragging", false)',
						data-dismiss='alert') ×
						small
							| U kunt ook uw
							strong
								i beschikbaarheid wijzigen
							| door te
							| dubbelklikken op reeds bestaande blokken of
							strong
								i door te slepen
							| met uw muis met de linkermuisknop en de
							strong SHIFT (Mac)
							| of
							strong CTRL (Windows)
							| knop tegelijkertijd ingedrukt.
		
					div.legends-agenda(ng-show='timeline.config.legendarer')
						include ../agenda/time-legends
					#mainTimeline
				hr
				p
					small.pull-left
						span.text-warning {{ui.agenda.lastSyncTime}}
						span.text-muted &nbsp; {{data.synced | nicelyDate}}
					small.pull-right
						span.text-warning {{ui.agenda.dataRangeStart}}
						span.text-muted {{data.periods.start | nicelyDate}}
						| &nbsp;&nbsp;| &nbsp;
						span.text-warning {{ui.agenda.dataRangeEnd}}
						span.text-muted {{data.periods.end | nicelyDate}}
				hr
				//include agenda/time-legends.jade
			
		//	//#status.tab-pane(class="{{(views.status==true) && 'active'}}")
		//	//	h1 status
		//		
			//#groupTab.tab-pane(class="{{(views.logs==true) && 'active'}}",
			//ng-controller='logs')
			//	.tab-header
			//		.form-group.pull-left.has-feedback
			//			input.form-control(type='text', name='daterange', ng-model='daterange', log-ranger='')
			//			i.glyphicon.glyphicon-calendar.form-control-feedback
			//		.pull-right
			//			input.form-control.search-query(type='text', placeholder='Filter logs..', ng-model='filtered')
			//	hr
			//	p(ng-hide='! loadLogs && data.logs.length > 0') Er zijn geen logs.
			//	p(ng-show='loadLogs') Logs laden...
			//	div(ng-show='data.logs.length > 0')
			//		table.table.table-striped
			//			thead
			//				tr
			//					th
			//						a(ng-click='orderBy("status")') Status
			//						span(ng-show='(ordered=="status")')
			//							span(ng-hide='reversed') ▲
			//							span(ng-show='reversed') ▼
			//					th
			//						a(ng-click='orderBy("from")') From
			//						span(ng-show='(ordered=="from")')
			//							span(ng-hide='reversed') ▲
			//							span(ng-show='reversed') ▼
			//					th
			//						a(ng-click='orderBy("to")') To
			//						span(ng-show='(ordered=="to")')
			//							span(ng-hide='reversed') ▲
			//							span(ng-show='reversed') ▼
			//					th
			//						a(ng-click='orderBy("started.stamp")') Time
			//						span(ng-show='(ordered=="started.stamp")')
			//							span(ng-hide='reversed') ▲
			//							span(ng-show='reversed') ▼
			//					th
			//						a(ng-click='orderBy("duration.stamp")') Duration
			//						span(ng-show='(ordered=="duration.stamp")')
			//							span(ng-hide='reversed') ▲
			//							span(ng-show='reversed') ▼
			//			tbody
			//				tr(ng-repeat='log in data.logs | filter: filtered | orderBy:ordered : reversed')
			//					td
			//						span.label.label-inverse(class='log-{{log.status}}') {{log.status}}
			//						span(ng-show='log.records.length > 0')
			//							span(ng-repeat='record in log.records')
			//								br
			//								| ∟
			//								span.label.label-inverse(class='log-{{record.status}}') {{record.status}}
			//					td
			//						// <pre><small>{{log | json}}</small></pre>
			//						| {{log.from}}
			//						span(ng-show='log.records.length > 0', ng-repeat='record in log.records')
			//							br
			//							| {{record.from}}
			//					td
			//						| {{log.to}}
			//						span(ng-show='log.records.length > 0', ng-repeat='record in log.records')
			//							br
			//							| {{record.to}}
			//					td
			//						| {{log.started.date}}
			//					td
			//						| {{log.duration.presentation}}
			//
			//	hr
			//	small.pull-left
			//		span.text-warning {{ui.planboard.lastSyncTime}}
			//		span.text-muted &nbsp;{{data.synced | date: 'medium'}}
			//		br
			//		span.text-warning {{ui.planboard.dataRangeStart}}
			//		span.text-muted &nbsp;{{data.periods.start | date: 'medium'}}
			//		| &nbsp;|
			//		span.text-warning {{ui.planboard.dataRangeEnd}}
			//		span.text-muted {{data.periods.end | date: 'medium'}}
			//	small.text-muted.pull-right(ng-show='data.logs.length > 0')
			//		br
			//		i Er zijn {{(data.logs|filter:filtered).length}} logs getoond.