section
	.page-header.agenda-timeline
		h2.nullable
			| Volgorde
	div(style='margin-top: 20px;')
	.form-group.has-feedback.pull-left(ng-show='app.resources.teamUuids.length > 1 || app.resources.role == 1')
		//input.form-control(type='text', name='daterange', ng-model='daterange', log-ranger='')
		label.control-label {{ ui.teamup.selectTeam }}
		.controls
			select(
				ng-model='currentTeam',
				ng-options='group.uuid as group.name for group in groups | orderBy:"name"',
				ng-selected='currentTeam',
				ng-change='fetchOrder()')

	.tabbable.tabs-left
		ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0px;', bs-navbar)
			include ../agenda/tabs
			
		.tab-content
			#order.tab-pane.active
				div(ng-show='currentTeam === ""')
					| Er is geen team geselecteerd
				div(style='overflow: hidden;')
					h3.pull-left
						| {{currentTeam | getGroupNameById | toTitleCase}} 
						span(ng-show='load') {{load}}
				hr
				div
					form.form-vertical(name='formActivateTT', novalidate)
						.form-group.has-feedback()
							.controls
								select(ng-model='orderType',
									required,
									ng-options='orderType.id as orderType.name for orderType in orderTypes',
									ng-selected='orderTypes[0]')
								span.help-block(ng-show='orderType == "FIXED"')
									small
										i
											| {{ ui.order.fixedOrderFeedback }}
								span.help-block(ng-show='orderType == "RANDOM"')
									small
										i
											| {{ ui.order.randomFeedback }}
								span.help-block(ng-show='orderType == "LONGEST_IDLE"')
									small
										i
											| {{ ui.order.evenOrderFeedback }}
								
					button.btn.btn-info(ng-show='orderedMembers.length > 6 && orderType == "FIXED"',
						type='button', ng-click='saveOrder()')
							| {{ ui.order.confirmation }}
					
					p(ng-show='orderedMembers.length == 0 && orderType == "FIXED"') {{ ui.order.noMembers }}
					
					table.table.table-striped.orderTable(ng-show='orderType == "FIXED" && orderedMembers.length > 0')
						thead
							tr
								th
									a {{ui.tasks.orderType1}}
								th 
								th
								th {{ui.teamup.name}}
								th {{ui.teamup.phone}}
						tbody(ng-sortable="sortableOptions",
							ng-model="orderedMembers")
							tr(ng-repeat='member in orderedMembers', ng-class="{unsortable: orderType=='RANDOM'}")
								td
									.orderNumber
										| {{member.originalPosition + 1}}
								td
									.dragIcon
								td
									.roundedPicSmall(class='{{member.states|stateColor}}',
										back-img = '{{member.uuid | avatar:"team":"80" }}')
										span.badge(ng-show='member.states|stateReachable')
											i.glyphicon.glyphicon-earphone
								td
									a(href='index.html#/profile/{{member.uuid}}#profile')
										| {{member.firstName}} {{member.lastName}}
								td
									| {{member.phoneE164}}
					
					div(style='margin-top: 20px;')
						//ul(ng-sortable="{animation:150}")
						//	li(ng-repeat="item in items") {{item}}
						button.btn.btn-info(type='button', ng-click='saveOrder()')
							| {{ ui.order.confirmation }}
