section
	.page-header.agenda-timeline
		h2.nullable Scenario
	div(style='margin-top: 20px;')
		.form-group.has-feedback.pull-left(ng-show='app.resources.teamUuids.length > 1 || app.resources.role == 1')
			//label.control-label(style="height: 25px;", ng-if="scenario.selectedTeams.length > 0") {{ ui.teamup.selectTeam }}
			.controls
				button#scenario-teams( type="button",
					class="btn btn-info",
					ng-model="scenario.selectedTeams",
					bs-options="team as team.name for team in scenario.data.teams | orderBy:'name'",
					data-multiple="1",
					data-animation="am-flip-x",
					data-placeholder="{{ ui.teamup.selectTeams }}",
					data-sort="true",
					data-all-none-buttons="true",
					data-max-length-html="geselecteerd",
					data-all-text="Iedereen",
					data-none-text="Geen",
					bs-select,
					ng-change='scenario.AddSelectedTeamsToTitle(); scenario.setCurrent()')
					ACTION
					span(class="caret")
			
	.tabbable.tabs-left
		ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0;', 
		bs-navbar)
			include tabs
		.tab-content
			#order.tab-pane.active(style='min-height: 450px;')
				div
					div
						div.head
							h3.text-overlow(style="height: 25px;")
								| Scenario {{ scenario.currentTeam }} 
						hr
						
					div.alert.alert-warning(ng-show='app.resources.role > 1')
						span(class="glyphicon glyphicon-exclamation-sign" aria-hidden="true")
						small
							i  Met de rol van team-member heeft u geen permissie om het scenario van {{ scenario.currentTeam }} te wijzigen
					
					div(ng-if='scenario.data.scenario && scenario.data.scenario.info')
						.row-fluid
							.widget(class="{{(!browser.mobile) && 'span9' || 'span12'}}")
								dl
									dt {{ ui.teamup.currentScenario }} 
									dd {{ scenario.data.scenario.info }}
							
					div(ng-if='scenario.data.templates && app.resources.role == 1', id='TTOptions')
						form.form-vertical(name='scenarioForm', novalidate)
							
							.form-group
								label.control-label Scenario {{ ui.agenda.change.toLowerCase() }}
								.controls
									select.span3.form-control(ng-model='scenario.scenarioTeamId',
									ng-options='s for s in scenario.data.templates')
										option(value='') Kies een nieuw scenario
								//span.help-block(style='min-height: 14px; margin-bottom: 10px;')
								//	small
								//		i.text-danger
								//			| * Welk scenario nu actief is, kan helaas nog niet worden weergegeven. 
										
							.form-actions
								button.btn.btn-success(type='submit',
									ng-click='scenario.save(scenario.scenarioTeamId)') {{ ui.order.confirmation }}
								