section#dashboard
	.page-header.agenda-timeline
		h2.nullable {{ ui.teamup.state }}
	div(style='margin-top: 20px;')
		.form-group.has-feedback.pull-left(ng-show='app.resources.teamUuids.length > 1 || app.resources.role == 1')
			//input.form-control(type='text', name='daterange', ng-model='daterange', log-ranger='')
			label.control-label {{ ui.teamup.selectTeam }}
			.controls
				select(ng-model='currentTeam',
				ng-options='team.uuid as team.name for team in teams | orderBy:"name"',
				ng-selected='currentTeam',
				ng-change='getGroupReachability()')
	.tabbable.tabs-left
		ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0;', bs-navbar)
			include ../agenda/tabs
				
		.tab-content
			#availabilities.sa.widget
				div.head
					h4
						| {{ ui.dashboard.accessibilityStatement }} {{current.group | groupIdToName:true | toTitleCase}} {{ loadGroup }}
					.pull-right(ng-hide='loadingReachability')
						//select(ng-model='current.group',
						//ng-options='group.uuid as group.name for group in groups',
						//ng-selected='current.group',
						//ng-change='getGroupReachability()',
						//style='width: 160px;')
				div(
				ng-show='teamMembers.length == 0')
					hr
					p {{ ui.order.noMembers }}
				section(ng-hide='loadingReachability')
					div(
						ng-show='reachability.members.reachable.length > 0')
						hr
						ul.sa-setup
							li.sa-truck
								.sa-member(ng-repeat='member in reachability.members.reachable')
									span.sa-member-icon.roundedPicSmall(
										class='{{member.states|stateColor}}',
										back-img='{{member.id | avatar:"client":"80"}}')
										span.badge(ng-show='member.states|stateReachable')
											i.glyphicon.glyphicon-earphone
									.sa-member-card
										h5
											a(href='#/profile/{{member.id}}#profile')
												| {{member.name | toTitleCase}}
										hr
										span {{states[member.state].label}}
										br
										small
											strong {{member.end | calculateDeltaTime}}
					div(ng-show='reachability.members.unreachable.length > 0')
						hr
						ul.sa-setup
							li.sa-truck
								.sa-member(ng-repeat='member in reachability.members.unreachable',
								ng-show='(member.state != "no-state")')
									span.sa-member-icon.roundedPicSmall(
										class='{{member.states|stateColor}}',
										back-img='{{member.id | avatar:"client":"80"}}')
									.sa-member-card
										h5
											a(href='#/profile/{{member.id}}#profile') {{member.name | toTitleCase}}
										hr
										span {{states[member.state].label}}
										br
										small
											strong {{member.end | calculateDeltaTime}}
					div(ng-show='reachability.members.possible.length > 0')
						hr
						ul.sa-setup
							li.sa-truck
								.sa-member(ng-repeat='member in reachability.members.possible')
									span.sa-member-icon.roundedPicSmall(
										class='{{member.states|stateColor}}', 
										back-img='{{member.id | avatar:"team":"80"}}')
									.sa-member-card
										h5
											a(href='#/profile/{{member.id}}#profile') {{member.name | toTitleCase}}
										hr
										span {{states[member.state].label}}
				p
					hr
					small.pull-left(style='margin-top: -10px;', ng-hide='loadingReachability')
						span.text-warning {{ui.planboard.lastSyncTime}}
						span.text-muted &nbsp; {{reachability.synced | nicelyDate}}