section#groups-wish
	form(name='wishForm').form-inline
		fieldset
			.form-group(ng-class="{'has-error' : wishForm.wish_field.$invalid}")
				input.form-control(
					type='number',
					ng-model='popover.wish', 
					ng-pattern="/^([0-9]|[1-2][0-9]|3[0-0])$/",
					name='wish_field'
					ng-minlength="0",
					ng-maxlength="30"
					required
					style='width: 50px;')
				button.btn.btn-primary.btn-sm(style="margin-bottom: 10px" type='button', ng-disabled='wishForm.wish_field.$invalid' ng-click='saveWish(popover.id, popover.wish); $hide()') {{ui.teamup.save}}
				button.btn.btn-default.btn-sm(style="margin-bottom: 10px" type='button', ng-click='$hide()') {{ui.teamup.cancel}}
				br
				span.help-block(ng-show='wishForm.wish_field.$invalid')
					small
						i
						| {{ ui.validation.wish.integer }}