div.time-slot-form(ng-init='removeReoccuringReachabilityForm = false',
ng-show='views.slot.add || views.slot.edit || views.group || views.wishView || views.wishEdit || views.member')
	form.form-inline.form-toggled.well
		button.close(ng-click='refreshCurrentTimeline(); removeReoccuringAll = null; removeReoccuringReachabilityForm = false;') ×
		h4(ng-show='views.slot.add') {{ui.agenda.newAvail}} 
			span.duration.label.label-info {{ duration}}
		h4(ng-show='views.slot.edit') {{ui.agenda.updateAvail}} 
			span.duration.label.label-info {{ duration}}
		h4(ng-show='views.group') {{slot.groupName }} 
			span.duration.label.label-info {{ duration}}
		h4(ng-show='views.wishView || views.wishEdit') {{ slot.groupName }} &nbsp;
			span.duration.label.label-info {{ duration}}
		h4(ng-show='views.member') {{slot.member|convertUserIdToName}} 
			span.duration.label.label-info {{ duration}}
		hr
		.form-elements-group(ng-show='browser.mobile')
			label {{ui.agenda.from}} 
			.form-group.dater-mobile(ng-show='views.slot.add || views.slot.edit || views.wishView || views.wishEdit')
				input.form-control.input-sm(name='date-start', type='datetime-local', ng-model='slot.start.datetime', ng-change='showDuration()')
			.form-group.dater-mobile(ng-show='views.group || views.member')
				input.form-control.input-sm(name='date-start',
				type='datetime-local',
				ng-model='slot.start.datetime',
				disabled='disabled')
		.form-elements-group(ng-hide='browser.mobile')
			label {{ui.agenda.from}}
			.form-group.has-feedback.dater(ng-show='views.slot.edit || views.wishEdit')
				input.form-control.input-sm(name='date-start',
				type='text',
				ng-model='slot.start.date',
				data-date-type='string',
				data-date-format='d-M-yyyy',
				data-min-date="today",
				data-icon-left='glyphicon glyphicon-arrow-left',
				data-icon-right='glyphicon glyphicon-arrow-right',
				bs-datepicker='',
				ng-change='showDuration();redrawSlot(slot);')
			.form-group.has-feedback.dater(ng-show='views.slot.add')
				input.form-control.input-sm(name='date-start',
				type='text',
				ng-model='slot.start.date',
				data-date-type='string',
				data-date-format='d-M-yyyy',
				data-min-date="today",
				data-icon-left='glyphicon glyphicon-arrow-left',
				data-icon-right='glyphicon glyphicon-arrow-right',
				data-autoclose="0",
				bs-datepicker='',
				ng-change='showDuration();redrawSlot(slot);')
				i.glyphicon.glyphicon-calendar.form-control-feedback
			.form-group.has-feedback.dater(ng-show='views.group || views.member || views.wishView')
				input.form-control.input-sm(name='date-start', type='text', ng-model='slot.start.date', disabled='disabled')
				i.glyphicon.glyphicon-calendar.form-control-feedback
			.form-group.has-feedback.timer(ng-show='views.slot.edit || views.wishEdit')
				input.form-control.input-sm(name='time-start',
				type='text',
				ng-model='slot.start.time',
				data-length='1',
				data-time-type="string",
				data-time-format="H:mm",
				bs-timepicker='',
				data-minute-step="5",
				data-arrow-behavior="picker",
				ng-change='showDuration();redrawSlot(slot);')
			.form-group.has-feedback.timer(ng-show='views.slot.add')
				input.form-control.input-sm(name='time-start',
				type='text',
				ng-model='slot.start.time',
				data-length='1',
				data-time-type="string",
				data-time-format="H:mm",
				bs-timepicker='',
				data-minute-step="5",
				data-arrow-behavior="picker",
				ng-change='showDuration();redrawSlot(slot);')
				i.glyphicon.glyphicon-time.form-control-feedback
			.form-group.has-feedback.timer(ng-show='views.group || views.member || views.wishView')
				input.form-control.input-sm(name='time-start', type='text', ng-model='slot.start.time', disabled='disabled')
				i.glyphicon.glyphicon-time.form-control-feedback
		.form-elements-group(ng-show='browser.mobile')
			label {{ui.agenda.till}} 
			.form-group.dater-mobile(ng-show='views.slot.add || views.slot.edit || views.wishEdit')
				input.form-control.input-sm(name='date-start', type='datetime-local', ng-model='slot.end.datetime', ng-change='showDuration();redrawSlot(slot);')
			.form-group.dater-mobile(ng-show='views.group || views.member || views.wishView')
				input.form-control.input-sm(name='date-start',
				type='datetime-local',
				ng-model='slot.end.datetime',
				disabled='disabled')
			br
			br
		.form-elements-group(ng-hide='browser.mobile')
			label {{ui.agenda.till}}
			.form-group.has-feedback.dater(ng-show='views.slot.add || views.slot.edit || views.wishEdit')
				input.form-control.input-sm(name='date-end',
				type='text',
				ng-model='slot.end.date',
				data-date-type='string',
				data-date-format='d-M-yyyy',
				data-min-date="{{slot.start.date|formatDateTimeZone}}",
				data-icon-left='glyphicon glyphicon-arrow-left',
				data-icon-right='glyphicon glyphicon-arrow-right',
				bs-datepicker='',
				ng-change='showDuration();redrawSlot(slot);')
				i.glyphicon.glyphicon-calendar.form-control-feedback
			.form-group.has-feedback.dater(ng-show='views.group || views.member || views.wishView')
				input.form-control.input-sm(name='date-end', type='text', ng-model='slot.end.date', disabled='disabled')
				i.glyphicon.glyphicon-calendar.form-control-feedback
			.form-group.has-feedback.timer(ng-show='views.slot.add || views.slot.edit || views.wishEdit')
				input.form-control.input-sm(name='time-end',
				type='text',
				ng-model='slot.end.time',
				data-length='1',
				data-time-type="string",
				data-time-format="H:mm",
				bs-timepicker='',
				data-minute-step="5",
				data-arrow-behavior="picker",
				ng-change='showDuration();redrawSlot(slot);')
				i.glyphicon.glyphicon-time.form-control-feedback
			.form-group.has-feedback.timer(ng-show='views.group || views.member || views.wishView')
				input.form-control.input-sm(name='time-end', type='text', ng-model='slot.end.time', disabled='disabled')
				i.glyphicon.glyphicon-time.form-control-feedback
		.form-elements-group(ng-show='views.slot.add || views.slot.edit || views.member')
			label {{ui.agenda.state}}
			select.form-control(ng-model='slot.state',
			ng-options='option as value for (option, value) in states',
			ng-change='modifySlot(slot)',
			ng-show='views.slot.add || views.slot.edit')
			select.form-control(ng-model='slot.state',
			disabled='disabled',
			ng-options='option as value for (option, value) in states',
			ng-show='views.member')
		.form-elements-group.rightest(ng-show='views.slot.add || views.wishEdit')
			label {{ui.agenda.reoccuring}}
			input(type='checkbox', ng-model='slot.recursive')
		.form-elements-group(ng-show='views.group')
			small
				i(ng-show="(slot.diff < 0)") {{slot.diff.toString().substr(1) | i18n_spec:'planboard.lessPeople'}}
				i(ng-show="(slot.diff == 0)") {{ui.agenda.samePeople}}
				i(ng-show="(slot.diff > 0)") {{slot.diff | i18n_spec:'planboard.morePeople'}}
		.form-elements-group.wish-amount(ng-show='views.wishEdit')
			label {{ui.agenda.wished}}
			input.input-mini(name='wish-count',
			type='text',
			ng-model='slot.wish')
		.form-elements-group.wish-amount(ng-show='views.wishView && slot.wish > 1')
			label {{ui.agenda.wished}}
			input.form-control.input-mini(name='wish-count',
			disabled='disabled',
			type='text',
			ng-model='slot.wish')
		hr
		.form-elements-actions
			//div(ng-show='(slot.diff < 0)')
			//	button.btn.btn-success(type='button',
			//	ng-click='sendShortageMessage(slot)',
			//	ng-hide='app.resources.role > 1') {{ui.agenda.sendMsgToMember}}
			div(ng-show='views.slot.add', style="float: right")
				button.btn.btn-success(type='button',
				ng-click='timelineOnAdd("true", slot)') {{ui.agenda.add}}
			div(ng-show='views.slot.edit' style="width: 250px;float: right; text-align: right; position: relative;")
				button.btn.btn-danger(type='button',
				ng-click='timelineOnRemove()',
				style='margin-right: 5px;') {{ui.agenda.del}}

				div(class="popover am-fade bottom remove-reoccuring-reachability-form",
				ng-show='removeReoccuringReachabilityForm',
				ng-init='removeReoccuringAll = 1',
				style="top: 29px; right: 15px; display: block;")
					div(class="arrow")
					div(class="popover-content")
						p
							strong {{ ui.timeline.removeReoccuring }}
						div.radio(style="margin-bottom: 10px;")
							label
								input(type="radio" class="radioButton" value='1', name="reachability", ng-model='removeReoccuringAll')
								i(style="margin-left: 5px;")  {{ ui.timeline.onlySingleReoccuringSlot }}
						div.radio(style="margin-bottom: 10px;")
							label
								input(type="radio" class="radioButton" value='2', name="reachability", ng-model='removeReoccuringAll')
								i(style="margin-left: 5px;")  {{ ui.timeline.allReocurringSlots }} 
						button.btn.btn-danger.btn-sm(type='button', ng-click='toggleReoccuringReachabilityForm(removeReoccuringAll);') {{ui.agenda.del}}
						button.btn.btn-default.btn-sm.btn-color-brown(type='button', ng-click='toggleReoccuringReachabilityForm(null);') {{ui.teamup.cancel}}
					section(id="groups-wish")
				button.btn.btn-success(type='button',
				ng-click='timelineOnChange("true", original, slot)') {{ui.agenda.change}}
			div(ng-show='views.wishEdit', style="float: right")
				button.btn.btn-success(type='button',
				ng-click='wisher(slot)')
					| {{ui.agenda.setWish}}
		div(style="clear: both;")