extends layout

// TODO: Fix icon locations
block icons
	link(rel='shortcut icon', href='favicon.ico')
	link(rel='shortcut icon', href='/favicon.ico')


// TODO: Remove unneccessary IE styler files
block iestuff
	//if IE
		link(rel='stylesheet', href='css/ie.css')
	//if IE 8
		link(rel='stylesheet', href='css/ie8.css')
	//if lt IE 9
		script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
	//if gt IE 7
		script(src='scripts/js/libs/angular-ui/0.4.0/angular-ui-ieshiv.min.js')

	//if lt IE 7
		p.chromeframe
			| You are using an outdated browser.
			a(href='http://browsehappy.com/') Upgrade your browser today
			| or
			a(href='http://www.google.com/chromeframe/?redirect=true') install Google Chrome Frame
			| to better experience this site.
	//if lt IE 9
		script(src='vendors/es5-shim/es5-shim.js')
		script(src='vendors/json3/lib/json3.min.js')



// TODO: Look for ways to simplify mobile menu view options
// TODO: Arrange correct styling
block navbar
	.navbar.navbar-inverse.navbar-fixed-top.ng-cloak(
	ng-hide='(location=="login" || location=="forgotpass" || location=="register")',
	bs-navbar='')
		.navbar-inner
			.container-fluid
				button.navbar-toggle(type='button',
				data-toggle='collapse',
				data-target='.bs-navbar-collapse')
					span.icon-bar
					span.icon-bar
					span.icon-bar
					// span.icon-bar {{ui.message.messages}}
				a.navbar-brand(href='#/') TeamUp
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						li(data-match-route='/tasks')
							a(ng-click='nav("tasks")') Taken
						li(data-match-route='/team')
							a(ng-click='nav("team")') {{ui.teamup.teams}}
						li(data-match-route='/client')
							a(ng-click='nav("client")') {{ui.teamup.clients}}
						li(data-match-route='/manage',
						ng-hide='app.resources.role > 1')
							a(href='#manage') {{ui.teamup.manage}}
						li(data-match-route='/planboard',
						ng-hide='app.resources.role > 1')
							a(ng-click='nav("planboard")') Agenda
						li(data-match-route='/planboard',
						ng-hide='app.resources.role > 1')
							a(ng-click='nav("vis")') Vis

					ul.nav.pull-right(ng-hide='browser.mobile')
						li.navbar-btn
							a(href='#search')
								i.icon-search
						li
							a#account(ng-click='nav("profile")')
								.roundedPicxSmall(id='img_{{app.resources.uuid|escape}}',
								class='{{app.resources.states|stateColor}}')
								span {{app.resources.firstName}} {{app.resources.lastName}}
						li.navbar-btn
							a(ng-click='nav("logout")')
								i.icon-off
					ul.nav.pull-right(ng-show='browser.mobile', style='{{(browser.landscape) && "margin-right:-20px"}}')
						li
							a(href='#profile')
								i.icon-user.icon-white(ng-hide='browser.portrait || browser.screen.width < 768')
								span(ng-show='browser.portrait || browser.screen.width < 768') Profile
						li
							a(href='#settings')
								i.icon-wrench.icon-white(ng-hide='browser.portrait || browser.screen.width < 768')
								span(ng-show='browser.portrait || browser.screen.width < 768') Settings
						li
							a(href='#logout')
								i.icon-off.icon-white(ng-hide='browser.portrait || browser.screen.width < 768')
								span(ng-show='browser.portrait || browser.screen.width < 768') Logout



// TODO: Port loaders to a directive
block loading
	#loading.ng-cloak(ng-show='loadingBig')
		div(ng-show='loaderIcons.general')
			span.entypo â³
			p {{ui.loading.general}}...
		div(ng-show='loaderIcons.dashboard')
			span.entypo â—´
			p
				| {{ui.loading.general}}
				br
				| {{ui.loading.dashboard}}
		div(ng-show='loaderIcons.planboard')
			span.entypo ðŸ•”
			p
				| {{ui.loading.general}}
				br
				| {{ui.loading.planboard}}
		div(ng-show='loaderIcons.messages')
			span.entypo î·
			p
				| {{ui.loading.general}}
				br
				| {{ui.loading.messages}}
		div(ng-show='loaderIcons.groups')
			span.entypo ðŸ‘¥
			p
				| {{ui.loading.general}}
				br
				| {{ui.loading.groups}}
		div(ng-show='loaderIcons.profile')
			span.entypo ðŸ‘¤
			p
				| {{ui.loading.general}}
				br
				| {{ui.loading.profile}}
		div(ng-show='loaderIcons.settings')
			span.entypo âš’
			p
				| {{ui.loading.general}}
				br
				| {{ui.loading.settings}}



// TODO: Investigate the real usage of this
block notifications
	#notification.alert(ng-show='notification.status',
	class='{{notification.type}}')
		button.close(type='button',
		ng-click='notification.status = false') Ã—
		| {{notification.message}}



block chat
	#chat(ng-hide='(location=="login" || location=="forgotpass" || location=="register" || location=="logout")',
	ng-controller='messagesCtrl')
		#chat-btn(ng-click='openChat()')
			span CHAT
		#chat-content(ng-show='toggleChat')
			p(ng-hide='messages.length > 0') {{ui.teamup.noMessages}}
			div(ng-repeat='message in messages')
				.chat-separator(ng-show='(message.date != "")')
					span {{message.date}}
					hr
				.message(class='{{message.msgRole}}')
					.chatAvatar.roundedPicSmall(id='img_{{message.member.uuid|escape}}',
					class='{{message.member.states|stateColor}}')
					.arrow(ng-show='(message.role == "other")')
					.chatCloud
						h5.name {{message.senderName}}
						h5.time {{message.sendTime|nicelyTime}}
						div: p {{message.body}}
					.arrow(ng-hide='(message.role == "other")')
			#pusher Â 
		.input-area
			input#messageField(type='text',
			ng-model='newMessage',
			ngenter='sendMessage(newMessage)')
			button.btn.btn-success(ng-click='sendMessage(newMessage)') {{ui.message.send}}



// TODO: Is it needed?
block mobile-status
	#mobile-status-bar.ng-cloak(ng-show='loading.status && browser.mobile')
		img(src='images/ajax-loader.gif')
		small {{loading.message}}



// TODO: Simplify it!
block footer
	#footer.ng-cloak(ng-hide='browser.mobile || (location=="login" || location=="forgotpass" || location=="register")')
		.container-fluid
			#copyrights
				span.muted(ng-style='(!config.profile.mobileApp.status) && "right:0"')
					small Ask Community Systems, 2013
						br
						i
							| TeamUp
							a(href='version.html',
							target='_blank') v{{config.version}}
			p.muted(ng-show='loading.status')
				img(src='images/ajax-loader.gif')
				small
					span(ng-show='app.preloader.status') {{app.preloader.count}}%
					| {{loading.message}}





























block scripts-later
	// script(src='scripts/js/libs/chaps/timeline/2.4.0/timeline_modified.js')

	// script(src='scripts/js/libs/angular/1.0.5/angular.min.js')
	// script(src='scripts/js/libs/angular/1.0.5/angular-resource.min.js')
	// script(src='scripts/js/libs/bootstrap/bootstrap.min.js')

	script(src='scripts/js/localization.js')
	script(src='scripts/js/webpaige.js')
	script(src='scripts/js/config.js')
	script(src='scripts/js/routes.js')
	script(src='scripts/js/bootstrap.js')
	script(src='scripts/js/modals/user.js')
	script(src='scripts/js/modals/profile.js')
	script(src='scripts/js/modals/core.js')
	script(src='scripts/js/modals/teams.js')
	script(src='scripts/js/modals/clients.js')
	script(src='scripts/js/modals/settings.js')
	script(src='scripts/js/modals/messages.js')
	script(src='scripts/js/modals/slots.js')
	script(src='scripts/js/directives/directives.js')

	// script(src='scripts/js/libs/angular-strap/0.7.0/angular-strap.min.js')

	// TODO: Figure out what it is !!
	// script(src='scripts/js/libs/bootstrap-custom/ui-bootstrap-custom-0.6.0.js')
	// script(src='scripts/js/libs/bootstrap-custom/ui-bootstrap-custom-tpls-0.6.0.js')

	script(src='scripts/js/services/session.js')
	script(src='scripts/js/services/dater.js')
	script(src='scripts/js/services/md5.js')
	script(src='scripts/js/services/storage.js')
	script(src='scripts/js/services/strings.js')
	script(src='scripts/js/services/generators.js')
	script(src='scripts/js/services/sloter.js')
	script(src='scripts/js/filters/filters.js')
	script(src='scripts/js/controllers/login.js')
	script(src='scripts/js/controllers/forgotpass.js')
	script(src='scripts/js/controllers/register.js')
	script(src='scripts/js/controllers/logout.js')
	script(src='scripts/js/controllers/core.js')
	script(src='scripts/js/controllers/profile.js')
	script(src='scripts/js/controllers/teams.js')
	script(src='scripts/js/controllers/clients.js')
	script(src='scripts/js/controllers/manage.js')
	script(src='scripts/js/controllers/treegrid.js')
	script(src='scripts/js/controllers/planboard.js')
	script(src='scripts/js/controllers/timeline.js')
	script(src='scripts/js/controllers/timeline-navigation.js')
	script(src='scripts/js/controllers/messages.js')



block scripts-first
	script(src='scripts/js/libs/date/1.0/date.min.js')
	script(src='scripts/js/libs/jquery/1.9.1/jquery-1.9.1.min.js')
	script(src='scripts/js/libs/jquery/1.9.1/jquery.form.min.js')
	script(src='scripts/js/libs/rsvp/1.0.0/rsvp.min.js')

	script(src='scripts/js/plugins/basket.js')
	script(src='scripts/js/plugins/browser.js')
	script(src='scripts/js/plugins/console.js')
	script(src='scripts/js/plugins/os.js')
	script(src='scripts/js/plugins/screenfull.js')

	script(src='scripts/js/profiles/profile.js')
