extends layout

// TODO: Fix icon locations
block icons
	link(rel='apple-touch-icon', sizes="150x150" ng-href='apple-touch-icon_{{ config.app.profileName.toLowerCase() }}_150x150.png')
	link(rel='apple-touch-icon', sizes="120x120" ng-href='apple-touch-icon_{{ config.app.profileName.toLowerCase() }}_120x120.png')
	link(rel='apple-touch-icon', sizes="76x76" ng-href='apple-touch-icon_{{ config.app.profileName.toLowerCase() }}_76x76.png')
	link(rel='apple-touch-icon', ng-href='apple-touch-icon_{{ config.app.profileName.toLowerCase() }}_60x60.png')
	link(rel="icon" type="image/png" ng-href="favicon_{{ config.app.profileName.toLowerCase() }}_64x64.png" sizes="64x64")
	link(rel="icon" type="image/png" ng-href="favicon_{{ config.app.profileName.toLowerCase() }}_32x32.png" sizes="32x32")
	link(rel="icon" type="image/png" ng-href="favicon_{{ config.app.profileName.toLowerCase() }}_16x16.png" sizes="16x16")
	link(rel='icon', ng-href='favicon_{{ config.app.profileName.toLowerCase() }}_16x16.ico')
	


// Not-used at the moment
// TODO: Remove unneccessary IE styler files
	//if IE
		link(rel='stylesheet', href='css/ie.css')
	//if IE 8
		link(rel='stylesheet', href='css/ie8.css')
	//if lt IE 9
		script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
	//if gt IE 7
		script(src='scripts/js/libs/angular-ui/0.4.0/angular-ui-ieshiv.min.js')

	//if lt IE 7
		p.chromeframe
			| You are using an outdated browser.
			a(href='http://browsehappy.com/') Upgrade your browser today
			| or
			a(href='http://www.google.com/chromeframe/?redirect=true') install Google Chrome Frame
			| to better experience this site.
	//if lt IE 9
		script(src='vendors/es5-shim/es5-shim.js')
		script(src='vendors/json3/lib/json3.min.js')


		

// TODO: Look for ways to simplify mobile menu view options
// TODO: Arrange correct styling
block navbar
	.navbar.navbar-inverse.navbar-fixed-top.ng-cloak(
	ng-hide='(location=="login" || location=="forgotpass" || location=="register")',
	bs-navbar='',
	role="navigation")
		.navbar-inner
			.container-fluid
				button.navbar-toggle(type='button',
				data-toggle='collapse',
				data-target='#main-navbar')
					span.icon-bar
					span.icon-bar
					span.icon-bar
					// span.icon-bar {{ui.message.messages}}
				a.navbar-brand.header-logo-teamup(ng-click='nav("task/mytasks")' ng-show='app.domainPermission.tasks') TeamUp
				a.navbar-brand.header-logo-teamtelefoon(ng-click='nav("team-telefoon/status")' ng-show='! app.domainPermission.tasks') TeamTelefoon
				#main-navbar.navbar-collapse.collapse
					ul.nav.navbar-nav(ng-hide='browser.mobile')
						// li(data-match-route='/tasks')
							// a(ng-click='nav("tasks")') Taken
						li.taskMenu(ng-show='app.domainPermission.tasks',
							data-match-route='/task.*')
							a(ng-click='nav("task/mytasks")') {{ ui.task.tasks }}
						li.teamMenu(ng-show='app.domainPermission.teams',
							data-match-route='/team.?')
							a(ng-click='nav("team/members")') {{ui.teamup.teams}}
						li#clientMenu(ng-show='app.domainPermission.clients',
							data-match-route='/(:?client)')
							a(ng-click='nav("client")') {{ui.teamup.clients}}
						li(data-match-route='/manage', ng-if='(app.domainPermission.tasks && app.resources.role == 1) || (app.resources.role == 1 && app.resources.teamUuids.length == 0)')
							a(href='#manage') {{ui.teamup.manage}} 
						li(data-match-route='/team-telefoon.*',
							ng-show='app.domainPermission.teamTelephoneBasic')
							a(ng-click='nav("team-telefoon/status")') {{ ui.teamup.teamTelephone }}
						li(data-match-route='/help', ng-hide='(app.resources.role === undefined)')
							a(ng-click='nav("help")') {{ ui.teamup.help }}

					ul.nav.pull-right(ng-hide='browser.mobile')
						//Disabled temporarily till the functionailty exists
						//li.navbar-btn
						//	a(href='#search')
						//		i.icon-search
						li(data-match-route='/profile', ng-hide='(app.resources.role === undefined)')
							a#account(ng-click='nav("profile")')
									.roundedPicxSmall(back-img = '{{app.resources.uuid | avatar:"team":"80" }}',
									class='{{app.resources.states|stateColor}} profile-avatar')
										span.badge(ng-show='app.resources.states|stateReachable')
											i.glyphicon.glyphicon-earphone
									span#show-name {{app.resources.firstName}} {{app.resources.lastName}}
						li(ng-hide='(app.resources.role === undefined)').navbar-btn
							a(ng-click='nav("logout")')
								i.icon-off
					ul.nav.pull-right.mobile-nav-bar(ng-show='browser.mobile', style='{{(browser.landscape) && "margin-right:-20px"}}')
						li
							.dropdown
								button.btn.btn-default.dropdown-toggle(type="button",
									id="dropdownMenu1",
									data-toggle="dropdown",
									aria-expanded="true",
									style='margin-right: 10px;') {{ ui.teamup.menu }}
									span.caret
								ul.dropdown-menu(role='menu',
								aria-labelledby="dropdownMenu1")
									li(role="presentation",
										ng-show='app.domainPermission.tasks',
										data-match-route='/task')
										a(role="menuitem",
											tabindex="-1",
											ng-click='nav("task/mytasks")') {{ ui.task.tasks }}
									li.teamMenu(role="presentation",
										ng-show='app.domainPermission.teams',
										data-match-route='/team')
										a(role="menuitem",
											tabindex="-1",
											ng-click='nav("team/members")') {{ui.teamup.teams}}
									li(role="presentation",
									ng-show='app.domainPermission.clients',
									data-match-route='/(:?client)')
										a(role="menuitem",
										tabindex="-1",
										ng-click='nav("client")') {{ui.teamup.clients}}
									li(role="presentation",
										data-match-route='/manage',
										ng-if='(app.domainPermission.tasks && app.resources.role == 1) || (app.resources.role == 1 && app.resources.teamUuids.length == 0)')
										a(href='#manage',
											tabindex="-1",) {{ui.teamup.manage}}
									li(role="presentation",
										data-match-route='/team-telefoon.*',
										ng-show='app.domainPermission.teamTelephoneBasic')
										a(ng-click='nav("team-telefoon/status")',
											tabindex="-1",) {{ ui.teamup.teamTelephone }}
									li(role="presentation", ng-hide='(app.resources.role === undefined)',
										data-match-route='/help')
										a(ng-click='nav("help")',
											tabindex="-1",) {{ ui.teamup.help }}
							
						li(data-match-route='/profile')
							a(ng-click='nav("profile")')
								i.icon-user.icon-white
						li
							a(href='#logout')
								i.icon-off.icon-white



// TODO: Port loaders to a directive
block loading
	#loading.ng-cloak(ng-show='loadingBig')
		div(ng-show='loaderIcons.general')
			span.entypo â³
			p {{ui.loading.general}}...
		div(ng-show='loaderIcons.dashboard')
			span.entypo â—´
			p
				| {{ui.loading.general}}
				br
				| {{ui.loading.manage}}
		div(ng-show='loaderIcons.planboard')
			span.entypo ðŸ•”
			p
				| {{ui.loading.general}}
				br
				| {{ui.loading.planboard}}
		div(ng-show='loaderIcons.messages')
			span.entypo î·
			p
				| {{ui.loading.general}}
				br
				| {{ui.loading.messages}}
		div(ng-show='loaderIcons.client')
			span.entypo ðŸ‘¥
			p
				| {{ui.loading.general}}
				br
				| {{ui.teamup.clients.toLowerCase()}}
		div(ng-show='loaderIcons.team')
			span.entypo ðŸ‘¥
			p
				| {{ui.loading.general}}
				br
				| {{ui.loading.teams}}
		div(ng-show='loaderIcons.profile')
			span.entypo ðŸ‘¤
			p
				| {{ui.loading.general}}
				br
				| {{ui.loading.profile}}
		div(ng-show='loaderIcons.settings')
			span.entypo âš’
			p
				| {{ui.loading.general}}
				br
				| {{ui.loading.settings}}



// TODO: Investigate the real usage of this
block notifications
	#notification.alert(ng-show='notification.status',
	class='{{notification.type}}')
		button.close(type='button',
		ng-click='notification.status = false') Ã—
		| {{notification.message}}

block chat
	#chat.ng-cloak(
	ng-hide='(location=="login" || location=="forgotpass" || location=="register" || location=="logout") || browser.mobile || ! app.domainPermission.chat', 
	ng-controller='chat')
		#chat-btn(ng-click='openChat();')
			span {{ ui.message.title }} {{newCountShow}}
		#message-content(ng-show='toggleChat')
			#video-content(ng-show='video.src && app.domainPermission.videoChat')
				.video-content-wrap
					iframe(data-ng-src="{{ video.url }}" frameborder="0" allowfullscreen)
			#chat-content(ng-class="{ 'border-left': video.src}")
				.chatHeader(ng-show='teams.length > 1')
					//h4 {{teamName}}
					select(ng-model='chatTeamId',
						ng-options='team.uuid as team.name for team in teams',
						ng-change='fetchMessagesByTeam()')
				.mainContent
					p.noMessages(ng-show='messagesShow.length == 0 && ! loadChatMessages') {{ui.teamup.noMessages}}
					p.noMessages(ng-show='loadChatMessages') {{ ui.message.messagesLoaded }}
					div(ng-repeat='message in messagesShow')
						.chat-separator(ng-show='(message.date != "")')
							div(ng-if='message.currentDay')
								span {{ message.currentDay }} 
								hr
						.chat-separator.reportLink(ng-show='(message.type == "REPORT_NEW")')
							a(ng-click='directToChatLink("#/client?uuid=" + message.body.clientGroupId + "&reportUuid=" + message.body.reportUuid + "#reports")')
								span {{message.title}}
								hr
						.videoLink(ng-show='(message.type == "VIDEO_CHAT")')
							h5 {{ ui.message.videoStartedBy }} {{ message.senderName }}
							p {{ message.sendTime | date: 'HH:mm' }}
							a(ng-click='startVideoCall(message.body)')
								button.btn-primary.btn-mini
									i.icon-facetime-video
						.message(class='{{message.msgRole}}' ng-show='(message.type == "CHAT" || message.type == null)')
							.chatAvatar.roundedPicSmall(back-img = '{{message.member.uuid | avatar:"team":"80" }}',
							class='{{message.member.states|stateColor}}')
							.chat-arrow(ng-show='(message.role == "other")')
							.chatCloud
								h5.name {{message.senderName}}
								h5.time {{message.sendTime|nicelyTime}}
								div: p(ng-bind-html='message.body | trusted_html')
							.chat-arrow(ng-hide='(message.role == "other")')
	
				.input-area
					input#messageField(type='text',
					ng-model='newMessage',
					ngenter='sendMessage(newMessage)')
					button.btn.btn-success(ng-click='sendMessage(newMessage)') {{ui.message.send}}

// TODO: Is it needed?
block mobile-status
	#mobile-status-bar.ng-cloak(ng-show='loading.status && browser.mobile')
		img(src='images/ajax-loader.gif')
		small {{loading.message}}



// TODO: Simplify it!
block footer
	#footer.ng-cloak(ng-hide='browser.mobile || (location=="login" || location=="forgotpass" || location=="register")')
		.container-fluid
			#copyrights
				span.muted
					small {{ app.domainPermission.tasks ? 'TeamUp' : 'TeamTelefoon' }}&nbsp;
						i.version_nr(data-html="true" bs-tooltip="frontEndVersion")
							|  v{{ config.app.version }} 
						i.version_nr(data-html="true" bs-tooltip="backEndVersion") {{ backEndVersion.releaseNr ? "v" + backEndVersion.releaseNr : backEndVersion.currentBranch }}
					
			p.muted(ng-show='loading.status')
				img(src='images/ajax-loader.gif')
				small
					span(ng-show='app.preloader.status') {{app.preloader.count}}%
					| {{loading.message}}
