div.legenda
	.legenda-row
		strong {{ui.planboard.members}}
		ul
			li(ng-repeat='(key, value) in timeline.config.states',
			class="legenda-{{value.className}}")
				label
					.square
					input(type='checkbox',
					ng-click='alterLegenda(timeline.config.legenda)',
					ng-model='timeline.config.legenda[key]')
					| {{value.label}}
	.legenda-row.last-legenda-row
		strong {{ui.planboard.groups}}
		ul
			li.legenda-more
				label
					.square
					input(type='checkbox',
					ng-click='alterLegenda(timeline.config.legenda)',
					ng-model='timeline.config.legenda.groups.more')
					| {{ui.planboard.legendaLabels.morePeople}}
			li.legenda-even
				label
					.square
					input(type='checkbox',
					ng-click='alterLegenda(timeline.config.legenda)',
					ng-model='timeline.config.legenda.groups.even')
					| {{ui.planboard.legendaLabels.enoughPeople}}
			li.legenda-less
				label
					.square
					input(type='checkbox',
					ng-click='alterLegenda(timeline.config.legenda)',
					ng-model='timeline.config.legenda.groups.less')
					| {{ui.planboard.legendaLabels.lessPeople}}
	hr



//div.legenda
//	.legenda-row
//		strong {{ui.planboard.members}}
//		ul
//			li(ng-repeat='(key, value) in timeline.config.states',
//			class="legenda-{{value.className}}")
//				label
//					.square
//					| {{value.label}}
//	.legenda-row.last-legenda-row
//		strong {{ui.planboard.groups}}
//		ul
//			li.legenda-more
//				label
//					.square
//					| {{ui.planboard.legendaLabels.morePeople}}
//			li.legenda-even
//				label
//					.square
//					| {{ui.planboard.legendaLabels.enoughPeople}}
//			li.legenda-less
//				label
//					.square
//					| {{ui.planboard.legendaLabels.lessPeople}}//