div(style='padding-top: 1px;')
	.page-header
		h2.nullable {{ui.teamup.teams}}
	.teams-section.tabbable.tabs-left
		ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0px;', bs-navbar)
			include tabs
		.tab-content
			#newTeamTab.tab-pane(class="active")
				.tab-header
					h3.pull-left {{ui.teamup.newTeam}} 
				hr
				form.form(name='team.new', novalidate='')
					.form-group(
					ng-class="{ 'has-error' : (team.new.name.$dirty || team.new.$submitted || team.new.name.$touched) && team.new.name.$invalid }"
					)
						input.span3.input-xlarge.search-query.controls.form-control(
							type='text',
							placeholder='{{ui.teamup.teamName}}',
							name='name',
							required='',
							focus,
							ng-minlength="2",
							ng-maxlength="20",
							ng-model='editForm.name')
						span.help-block(ng-if='(team.new.name.$dirty || team.new.$submitted || team.new.name.$touched) && team.new.name.$invalid'
							ng-messages="team.new.name.$error")
							small(ng-message="required")
								i {{ ui.validation.default.required(ui.teamup.teamName) }}
							small(ng-message="minlength")
								i {{ ui.validation.default.minLength(ui.teamup.teamName) }}
							small(ng-message="maxlength")
								i {{ ui.validation.default.maxLength(ui.teamup.teamName) }}
							
					.control-group
						button.btn.btn-success.confirmButton.controls(type='submit',
						ng-click='team.create(editForm)') {{ui.teamup.createTeam}}