#welcomeLogoTeamTelefoon(class="{{ config.app.lang }}",
ng-show="config.app.profileName == 'TeamTelefoon'")
#welcomeLogoTeamUp(ng-show='config.app.profileName == "TeamUp"')
#welcomeArrow
#welcome
	#preloader
		h4 {{ui.login.setting_up_app}}
		.progress.progress-striped.active
			.bar
		span.muted
	#login.boxed
		form(ng-if='password.views.forgot' ng-submit='password.forgot()')
			.alert.alert-error(ng-if='password.error.show')
				button.close(type='button',
				ng-click='password.error.show=false') ×
				p(ng-bind-html='password.error.message | trusted_html')
			.alert.alert-success(ng-if='password.success.show')
				button.close(type='button',
				ng-click='password.success.show=false') ×
				p(ng-bind-html='password.success.message | trusted_html')
			p(ng-show=' ! password.error.show && ! password.success.show')
				| We verzenden u een email met de instructies om uw wachtwoord te resetten.
			input(type='text',
				autocapitalize='none',
				ng-model='password.username',
				placeholder='{{ui.login.ph_username}}',
				autofocus='')
			button.btn.btn-large.btn-block.btn-primary(type='submit') Wachtwoord herstellen
		form(ng-if='password.views.change' ng-submit='password.change()')
			input(type='password',
				ng-model='password.loginData.password',
				placeholder='{{ui.login.ph_password}}')
			input(type='password',
				ng-model='password.loginData.password',
				placeholder='{{ui.login.ph_password}}')
			button.btn.btn-large.btn-block.btn-primary(type='submit') Wachtwoord wijzigen
		span.version
			a(class='login-link' href='index.html#/login') Terugkeren om in te loggen
			br
			a(class='version-link' href='index.html') v{{config.app.version}}