#welcomeLogoTeamTelefoon(class="{{ config.app.lang }}",
ng-show="config.app.profileName == 'TeamTelefoon'")
#welcomeLogoTeamUp(ng-show='config.app.profileName == "TeamUp"')
#welcomeArrow
#welcome
	#preloader
		h4 {{ui.login.setting_up_app}}
		.progress.progress-striped.active
			.bar
		span.muted
	#login.boxed
		.alert.alert-error(ng-if='password.error.show')
			button.close(type='button',
			ng-click='password.error.show=false') ×
			p(ng-bind-html='password.error.message | trusted_html')
		.alert.alert-success(ng-if='password.success.show')
			button.close(type='button',
			ng-click='password.success.show=false') ×
			p(ng-bind-html='password.success.message | trusted_html')
		form(ng-if='password.views.forgot', 
			ng-submit='password.forgot(password)')
			p(style='margin-top: 0;',
				ng-show=' ! password.error.show && ! password.success.show')
				| {{ ui.profile.forgotPassInfo }}
			input(type='text',
				autocapitalize='none',
				ng-model='password.username',
				placeholder='{{ui.login.ph_username}}',
				autofocus='')
			button.btn.btn-large.btn-block.btn-primary(type='submit') {{ ui.profile.passRecover }}
		form(ng-if='password.views.change',
			name='password.forgotForm',
			novalidate)
			fieldset
				.form-group(style='margin-bottom: 0;',
					ng-class="{ 'has-error' : password.forgotForm.pass.$invalid && (password.forgotForm.$submitted || password.forgotForm.pass.$touched) }")
					.controls
						input.form-control(type='password',
							ng-model='password.new',
							placeholder='{{ui.profile.newPass}}'
							name='pass',
							required='',
							ng-minlength="8",
							ng-maxlength="20")
						span.help-block(ng-messages='password.forgotForm.pass.$error',
							ng-if='password.forgotForm.pass.$invalid && (password.forgotForm.$submitted || password.forgotForm.pass.$touched)')
							small(ng-message='required')
								i
								| {{ ui.validation.password.required }}
							small(ng-message='minlength')
								i
								| {{ ui.validation.default.minLength(ui.profile.newPass) }}
							small(ng-message='maxlength')
								i
								| {{ ui.validation.default.maxLength(ui.profile.newPass) }}
							
				.form-group(style='margin-bottom: 0;',
					ng-class="{ 'has-error' : (password.forgotForm.repeat.$invalid || password.repeat !== password.new)&& (password.forgotForm.$submitted || password.forgotForm.repeat.$touched) }")
					.controls
						input.form-control(type='password',
							name='repeat',
							required='',
							ng-model='password.repeat',
							placeholder='{{ui.profile.newPassRepeat}}')
						span.help-block(ng-messages='password.forgotForm.pass.$error',
						ng-if='(password.forgotForm.repeat.$invalid || password.repeat !== password.new)&& (password.forgotForm.$submitted || password.forgotForm.repeat.$touched)')
							small(ng-message='required')
								i
								| {{ ui.teamup.passNotSame }}
							small(ng-if='password.repeat !== password.new')
								i
								| {{ ui.teamup.passNotSame }}
						
				.form-actions
					button.btn.btn-large.btn-block.btn-primary(type='submit',
						ng-click='password.change(password)') {{ ui.profile.changePass }}
		span.version
			a(class='login-link' href='index.html#/login') {{ ui.login.returnLogin }}
			br
			a(class='version-link' href='index.html') v{{config.app.version}}