#welcomeLogoTeamTelefoon(class="{{ config.app.lang }}",
ng-show="config.app.profileName == 'TeamTelefoon'")
#welcomeLogoTeamUp(ng-show='config.app.profileName == "TeamUp"')
#welcomeArrow
#welcome
	#preloader
		h4 {{ui.login.setting_up_app}}
		.progress.progress-striped.active
			.bar
		span.muted
	#login.boxed
		.alert.alert-error(ng-if='password.error.show')
			button.close(type='button',
			ng-click='password.error.show=false') ×
			p(ng-bind-html='password.error.message | trusted_html')
		.alert.alert-success(ng-if='password.success.show')
			button.close(type='button',
			ng-click='password.success.show=false') ×
			p(ng-bind-html='password.success.message | trusted_html')
		form(ng-if='password.views.forgot', 
			ng-submit='password.forgot()')
			p(ng-show=' ! password.error.show && ! password.success.show')
				| We verzenden u een email met de instructies om uw wachtwoord te resetten.
			input(type='text',
				autocapitalize='none',
				ng-model='password.username',
				placeholder='{{ui.login.ph_username}}',
				autofocus='')
			button.btn.btn-large.btn-block.btn-primary(type='submit') Wachtwoord herstellen
		form(ng-if='password.views.change',
			name='passwordForgotForm',
			novalidate,
			ng-submit='password.change(password)')
			fieldset
				.form-group(ng-class="{ 'has-error' : passwordForgotForm.password.$invalid && !passwordForgotForm.password.$pristine }")
					.controls
						input.form-control(type='password',
							ng-model='password.new',
							placeholder='{{ui.profile.newPass}}'
							name='password',
							required,
							ng-minlength="8",
							ng-maxlength="20")
						span.help-block(ng-show='passwordForgotForm.password.$invalid && !passwordForgotForm.password.$pristine')
							small
								i
								| {{ ui.validation.password.required }}
							small(ng-show="passwordForgotForm.password.$error.minlength")
								i
								| {{ ui.validation.password.amountMinChars(8) }} 
							small(ng-show="passwordForgotForm.password.$error.maxlength")
								i
								| {{ ui.validation.password.amountMaxChars(20) }}
				.form-group
					.controls
						input(type='password',
							ng-model='password.repeat',
							placeholder='{{ui.profile.newPassRepeat}}')
				.form-actions
					button.btn.btn-large.btn-block.btn-primary(type='submit') Wachtwoord wijzigen
		span.version
			a(class='login-link' href='index.html#/login') Terugkeren om in te loggen
			br
			a(class='version-link' href='index.html') v{{config.app.version}}