section#planboard(ng-controller='agenda-timeline')
	.agenda-timeline.page-header
		h2.nullable {{ui.planboard.planboard}}
		include agenda/time-quick-availability.jade
	include agenda/time-travel.jade
	include agenda/time-slot.jade

	.agenda-timeline-tabs.tabbable.tabs-left
		ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0px;')
			li.active
				a(href='planboard#timelineTab', data-toggle='tab', ng-click='destroy.statistics();')
					span.entypo &#128340;
					| {{ui.agenda.timeline}}

		.tab-content

			// timeline
			div#timelineTab.tab-pane.active
				#timeline
					//include agenda/time-toolbar.jade
					div#timeline-toolbar
						.pull-left
							select.form-control(ng-model='timeline.current.group',
							ng-options='group.uuid as group.name for group in groups',
							ng-selected='timeline.current.group',
							ng-change='requestTimeline()',
							ng-show='timeline.current.layouts.group')
							//select.form-control(ng-model='timeline.current.division',
							//ng-options='division.id as division.label for division in divisions',
							//ng-selected='timeline.current.division',
							//ng-change='changeDivision()',
							//ng-show='divisions.length > 0')
						br(ng-show='browser.mobile')
						br(ng-show='browser.mobile')
						div(class="{{ (browser.mobile) && 'pull-left' || 'pull-right' }}",
						style="{{ (browser.mobile) && 'margin-left: -10px;' }}")
							.btn-group
								button.btn.btn-default(type='button',
								class="{{(timeline.config.legendarer==true) && 'active'}}",
								ng-click='showLegenda()',
								ng-model='timeline.config.legendarer') {{ui.agenda.legenda}}
							.btn-group(ng-show='timeline.current.layouts.group')
								button.btn.btn-default(type='button',
								class="{{(timeline.config.bar==true) && 'active'}}",
								ng-click='barCharts()',
								ng-model='timeline.config.bar') {{ui.agenda.barCharts}}
							.btn-group(ng-show='timeline.current.layouts.group')
								button.btn.btn-default(type='button',
								class="{{(timeline.config.wishes==true) && 'active'}}",
								ng-click='groupWishes()',
								ng-model='timeline.config.wishes') {{ui.agenda.wishes}}
							.btn-group
								button.btn.btn-default(type='button',
								class="{{(timeline.current.layouts.group==true) && 'active'}}",
								ng-model='timeline.current.layouts.group',
								ng-click='requestTimeline("group")') {{ui.agenda.group}}
								button.btn.btn-default(type='button',
								class="{{(timeline.current.layouts.members==true) && 'active'}}",
								ng-model='timeline.current.layouts.members',
								ng-click='requestTimeline("members")',
								ng-show='(app.resources.role < 3) || timeline.config.layouts.members')  {{ui.agenda.members}}
								//.icomoon
								//data-icon='',
								//aria-hidden='true',
								
					hr
					// alert-window
					div.alert.alert-warning(ng-show='registeredNotifications.timeLineDragging')
						button.close(type='button',
						ng-click='registerNotification("timeLineDragging", false)',
						data-dismiss='alert') ×
						small
							| U kunt ook uw
							strong
								i beschikbaarheid wijzigen
							| door te
							| dubbelklikken op reeds bestaande blokken of
							strong
								i door te slepen
							| met uw muis met de linkermuisknop en de
							strong SHIFT (Mac)
							| of
							strong CTRL (Windows)
							| knop tegelijkertijd ingedrukt.

					div.legends-agenda(ng-show='timeline.config.legendarer')
						include agenda/time-legends.jade
					#mainTimeline
				hr
				p
					small.pull-left
						span.text-warning {{ui.agenda.lastSyncTime}}
						span.text-muted &nbsp; {{data.synced | nicelyDate}}
					small.pull-right
						span.text-warning {{ui.agenda.dataRangeStart}}
						span.text-muted {{data.periods.start | nicelyDate}}
						| &nbsp;&nbsp;| &nbsp;
						span.text-warning {{ui.agenda.dataRangeEnd}}
						span.text-muted {{data.periods.end | nicelyDate}}
				hr
				//include agenda/time-legends.jade
