#welcomeLogo
#welcomeArrow
#welcome
	#preloader
		h4 {{ui.login.setting_up_app}}
		.progress.progress-striped.active
			.bar
		span.muted
	#login.boxed
		form(ng-submit='login()')
			.alert(class='{{alert.login.type}}',
			ng-show='alert.login.display')
				button.close(type='button',
				ng-click='alert.login=false') ×
				| {{alert.login.message}}
			input(type='text',
			ng-model='logindata.username',
			placeholder='{{ui.login.ph_username}}',
			autofocus='')
			input(type='password',
			ng-model='logindata.password',
			placeholder='Password')
			label.checkbox.span3
				input(type='checkbox',
				ng-model='logindata.remember')
				| Remember me
			button.btn.btn-large.btn-block.btn-primary(type='submit') {{ui.login.button_login}}
			span.version
				a(href='version.html',
				target='_blank') v{{config.app.version}}