section#dashboard
	.page-header.agenda-timeline
		h2.nullable Status
	div(style='margin-top: 20px;')
		.form-group.has-feedback.pull-left(ng-show='app.resources.teamUuids.length > 1 || app.resources.role == 1')
			//input.form-control(type='text', name='daterange', ng-model='daterange', log-ranger='')
			label.control-label {{ ui.teamup.selectTeam }}
			.controls
				select(ng-model='current.group',
				ng-options='group.uuid as group.name for group in groups | orderBy:"name"',
				ng-selected='current.group',
				ng-change='getGroupReachability()')
			
	.tabbable.tabs-left
		ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0;', bs-navbar)
			//include ../agenda/tabs
				
		.tab-content
			#availabilities.sa.widget
				div.head
					h4
						| Overzicht bereikbaarheid{{current.group | groupIdToName:true | toTitleCase}} {{ loadGroup }}
					.pull-right(ng-hide='loadingReachability')
						//select(ng-model='current.group',
						//ng-options='group.uuid as group.name for group in groups',
						//ng-selected='current.group',
						//ng-change='getGroupReachability()',
						//style='width: 160px;')
						select(ng-model='current.division',
						ng-options='division.id as division.label for division in divisions',
						ng-selected='current.division',
						ng-change='getDivisionReachability()',
						ng-show='divisions.length > 0 && current.group != "all"',
						style="margin-left: 15px; width:160px")
				section
					//button.btn.btn-info(select_all_phones='reachable') Select phonenumbers from reachable members
					div(ng-show='reachability.members.reachable.length > 0')
						table.table.table-striped
							caption Bereikbaar
							thead
								tr
									th Naam
									th Telefoon
							tbody
								tr(ng-repeat='member in reachability.members.reachable')
									td {{member.name}}
									td {{member.phone}}	
								
				section(ng-hide='loadingReachability')
					//button.btn.btn-info(select_all_phones='unreachable') Select phonenumbers from unreachable members
					div(ng-show='reachability.members.unreachable.length > 0')
						table.table.table-striped
							caption Onbereikbaar
							thead
								tr
									th Naam
									th Telefoon
							tbody
								tr(ng-repeat='member in reachability.members.unreachable')
									td {{member.name}}
									td {{member.phone}}	