section#dashboard
	.page-header.agenda-timeline
		h2.nullable Status
	div(style='margin-top: 20px;')
		.form-group.has-feedback.pull-left(ng-show='app.resources.teamUuids.length > 1 || app.resources.role == 1')
			//input.form-control(type='text', name='daterange', ng-model='daterange', log-ranger='')
			label.control-label {{ ui.teamup.selectTeam }}
			.controls
				select(ng-model='currentTeam',
				ng-options='team.uuid as team.name for team in teams | orderBy:"name"',
				ng-selected='currentTeam',
				ng-change='getGroupReachability()')
			
	.tabbable.tabs-left
		ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0;', bs-navbar)
			//include ../agenda/tabs
				
		.tab-content
			#availabilities.sa.widget
				div.head
					h4
						| Overzicht bereikbaarheid{{currentTeam | groupIdToName:true | toTitleCase}} {{ loadGroup }}
					.pull-right(ng-hide='loadingReachability')
						select(ng-model='current.division',
						ng-options='division.id as division.label for division in divisions',
						ng-selected='current.division',
						ng-change='getDivisionReachability()',
						ng-show='divisions.length > 0 && currentTeam != "all"',
						style="margin-left: 15px; width:160px")
				section
					div(ng-show='reachability.members.reachable.length > 0')
						button.btn.btn-info(select_all_phones='reachable') Select reachable members
						table.table.table-striped
							caption Bereikbaar
							thead
								tr
									th Naam
									th Telefoon
							tbody#reachable
								tr(ng-repeat='member in reachability.members.reachable')
									td {{member.name}}
									td {{member.phone}}	
				
				section
					div(ng-show='reachability.members.possible.length > 0')
						button.btn.btn-info(select_all_phones='possible') Select possible members
						table.table.table-striped
							caption Mogelijk bereikbaar
							thead
								tr
									th Naam
									th Telefoon
							tbody#possible
								tr(ng-repeat='member in reachability.members.possible')
									td {{member.name}}
									td {{member.phone}}						
				
				section
					div(ng-show='reachability.members.unreachable.length > 0')
						button.btn.btn-info(select_all_phones='unreachable') Select unreachable members
						table.table.table-striped
							caption Onbereikbaar
							thead
								tr
									th Naam
									th Telefoon
							tbody#unreachable
								tr(ng-repeat='member in reachability.members.unreachable')
									td {{member.name}}
									td {{member.phone}}	