section#planboard(ng-controller='timeline')

	.page-header.timeline
		h2.nullable {{ui.task.tasks}}
		//include planboard/time-slot.jade
		span.nullable.pull-left(ng-show='views.teams')
			.selectGroup
				span.selectTitle
					| Selecteer team
				select(ng-model='currentTeam',
				ng-options='t.uuid as t.name for t in data.teams.list | orderBy:"name"',
				ng-change='changeCurrent(currentTeam)')

		span.nullable.pull-left(ng-show='views.clients')
			.selectGroup
				span.selectTitle
					| Selecteer groep
				select(ng-model='currentClientGroup',
				ng-options='t.uuid as t.name for t in data.clients.list | orderBy:"name"',
				ng-change='changeCurrent(currentClientGroup)')

		//br
		//a(class='btn btn-primary', ng-click='getTeamID()') get team id
		//span team: {{currentTeamID}}

		#timeline-controls.pull-right(ng-controller='timeline-navigation',
		style='text-align: right')
			h4(style='font-weight: normal;') {{timeline.range | rangeMainFilter }}
				br
				div(style='font-size: 15px; font-weight: lighter')
					span {{timeline | rangeInfoFilter}}

	include planboard/time-slot.jade

	br
	.tabbable.tabs-left


		ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0;')

			li(class="{{(views.myTasks==true) && 'active'}}")
				a(data-toggle='tab', ng-click='nav("tasks2")')
					span.icomoon(data-icon='', aria-hidden='true')
					| {{ui.task.myTask}}
			li(class="{{(views.allTasks==true) && 'active'}}")
				a(data-toggle='tab', ng-click='nav("tasks2/alltasks")')
					span.icomoon(data-icon='', aria-hidden='true')
					| {{ui.task.allTasks}}
			li(class="{{(views.newTask==true) && 'active'}}", ng-hide="app.resources.role > 1")
				a(data-toggle='tab', ng-click='nav("tasks2/newtask")')
					span.icomoon(data-icon='', aria-hidden='true')
					| {{ui.task.newTask}}
			li(class="{{(views.teams==true || views.clients==true) && 'active'}}", ng-hide="app.resources.role > 1")
				a(data-toggle='tab', ng-click='setViewTo(current,"teams")')
					span.entypo &#128340;
					| Agenda

		.tab-content.treegrid-container(ng-controller='treegrid')


			#viewTeamsTab.tab-pane(class="{{(views.teams==true || views.clients==true) && 'active'}}")
				.tab-header
					h3.pull-left {{currentName}}
					div(ng-show='app.resources.role == 1')
					button.btn.pull-right.btn-info.marginLeftTen(type='button',
					class="{{(views.clients==true) && 'active'}}",
					data-toggle='tab',
					ng-click='setViewTo(current,"clients")')
						span.icomoon(data-icon='',
						aria-hidden='true')
						|  Clienten
					button.btn.pull-right.btn-info(type='button',
					class="{{(views.teams==true) && 'active'}}",
					data-toggle='tab',
					ng-click='setViewTo(current,"teams")')
						span.icomoon(data-icon='',
						aria-hidden='true')
						| Teams
				hr
				#timeline
					//include planboard/time-toolbar.jade
					#mainTimeline
				hr
				p
					small.pull-left
						span.timeline-footer-text {{ui.planboard.lastSyncTime}}
						span.timeline-footer-text {{data.synced | nicelyDate}}
					small.pull-right
						span.timeline-footer-text {{ui.planboard.dataRangeStart}}
						span.timeline-footer-text {{data.periods.start | nicelyDate}}
						| |
						span.timeline-footer-text {{ui.planboard.dataRangeEnd}}
						span.timeline-footer-text {{data.periods.end | nicelyDate}}
