#confirmProfileModal.modal.fade(tabindex='-1',
role='dialog',
aria-labelledby='confirmProfileModalLabel',
aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal')
					span(aria-hidden='true') ×
					span.sr-only Close
				h4#confirmProfileModalLabel.modal-title {{ui.teamup.confirms.deleteMemberFromTeamTitle}}
			.modal-body
				| {{ui.teamup.confirms.deleteMemberFromTeam}}
			.modal-footer
				button.btn.btn-default(type='button',
				data-dismiss='modal') {{ui.teamup.confirms.cancel}}
				button.btn.btn-primary(type='button',
				ng-click='deleteProfile()') {{ui.teamup.confirms.remove}}
				
#confirmTeamMemberCodeAsPhoneModal.modal.fade(tabindex='-1',
role='dialog',
aria-labelledby='confirmTeamMemberCodeAsPhone',
aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal')
					span(aria-hidden='true') ×
					span.sr-only Close
				h4#confirmTeamMemberCodeAsPhone.modal-title {{ui.teamup.confirms.addTeamMemberCodeAsPhoneTitle}}
			.modal-body
				| {{ui.teamup.confirms.addTeamMemberCodeAsPhone}}
			.modal-footer
				button.btn.btn-default.non-capitalize(type='button',
				data-dismiss='modal') {{ui.teamup.confirms.no}}
				button.btn.btn-primary.non-capitalize(type='button',
				ng-click='teamMemberCodeConfirmed()') {{ui.teamup.confirms.yes}}
				
#confirmDeleteAvatar.modal.fade(tabindex='-1',
role='dialog',
aria-labelledby='confirmDeleteAvatarLabel',
aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal')
					span(aria-hidden='true') ×
					span.sr-only Close
				h4#confirmDeleteAvatarLabel.modal-title {{ui.teamup.confirms.photoRemoveTitle}}
			.modal-body
				| {{ui.teamup.confirms.photoRemoveBody}}
			.modal-footer
				button.btn.btn-default(type='button',
				data-dismiss='modal') {{ui.teamup.confirms.cancel}}
				button.btn.btn-primary(type='button',
				ng-click='deleteAvatar()') {{ui.teamup.confirms.remove}}

section#profile
	.page-header: h2 {{data.name}}

	.row-fluid

		.tabbable.tabs-left

			ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0px;')
				li(class="{{(views.profile==true || views.edit==true || views.editImg==true || views.editPassword==true) && 'active'}}")
					a(data-toggle='tab',
					ng-click='fixTabHeight("profileTab"); setViewTo("profile")')
						span.entypo 👤
						| {{ui.profile.profile}}

			.tab-content

				#profileTab.tab-pane(class="{{(views.profile==true) && 'active'}}")
					.tab-header
						h3.pull-left {{data.firstName}} {{data.lastName}}
						//div(dynamic='test') {{test}}
						button.btn.pull-right.btn-info.marginLeftTen(type='button',
							ng-click='confirmDeleteProfile()',
							ng-hide='app.resources.role > 1 && teams.length == 0 && profile.uuid != app.resources.uuid') 
							| {{ui.teamup.del}}
						button.btn.pull-right.btn-info(type='button',
							ng-click='editProfile()',
							ng-hide='(app.resources.role > 1 && profile.uuid != app.resources.uuid)') {{ui.profile.edit}}
					hr
					.row-fluid
						.widget(class="{{(!browser.mobile) && 'span9' || 'span12'}}")
							dl
								dt {{ui.teamup.teams}}
								dd(ng-show='teams.length == 0') Geen team geselecteerd
								dd
									span(ng-repeat='team in teams')
										span(ng-hide='app.resources.role > 1')
											a(href='#/team?uuid={{team.uuid}}#team') {{team.name}}
										span(ng-hide = '{{((teams.length-1) == $index)}}') ,
										span(ng-show = 'app.resources.role > 1') {{team.name}}
								dt {{ui.teamup.role}}
								dd {{data.role|translateRole}}
								dt E-mail
								dd {{data.email }}
								dt(ng-show='data.phoneNumbers.length > 0') {{ui.profile.phone}}
								dd(class='phones', ng-repeat='phone in data.phoneNumbers') 
									span(class="label label-inverse") {{ ($index > 0 && phone != null) ? 'Extra' : 'Standaard' }}  
									span(class='phone-description') {{phone}}
								//dt {{ui.teamup.func}}                                                                                    //dd {{data.function|translateFunc}}
								dt {{ui.profile.birthday}}
								dd {{data.birthDate}}
						.widget.profilePic(class="{{(!browser.mobile) && 'span3' || 'span12'}}")
							.roundedPicLarge(back-img = '{{data.uuid | avatar:"team":"368" }}' class='{{data.states|stateColor}}')
							div
								a(href='#/profile/{{data.uuid}}#editImg')
									button.btn.btn-mini.btn-primary(
										ng-click='editImg()',
										ng-hide='(app.resources.role > 1 && profile.uuid != app.resources.uuid)')
										i.icon-edit
								button.btn.btn-mini.btn-primary(type='submit',
									ng-click='confirmDeleteAvatar()',
									ng-hide='(app.resources.role > 1 && profile.uuid != app.resources.uuid)')
									i.icon-trash


				#editTab.tab-pane(class="{{(views.edit==true) && 'active'}}")
					div(style='overflow: hidden; height: 35px')
						h3.pull-left(style='margin-top: 0;') {{ui.profile.editProfile}}
						button.btn.pull-right.btn-info(type='button',
						ng-hide='(app.resources.role > 1 && profile.uuid != app.resources.uuid)',
						ng-click='editPassword()') {{ui.profile.changePassWord}}
					hr
					form.form-vertical(name='profileForm', novalidate)
						.control-group
							label.control-label {{ui.profile.firstName}}
							.controls
								input.span4(type='text',
								ng-model='profile.firstName',
								value='{{data.firstName}}')
						.control-group
							label.control-label {{ui.profile.lastName}}
							.controls
								input.span4(type='text',
								ng-model='profile.lastName',
								value='{{data.lastName}}')
						.control-group(ng-hide='(app.resources.role > 1)')
							label.control-label {{ui.teamup.role}}
							.controls
								select(ng-model='profile.role',
								ng-options='r.id as r.label for r in roles',
								ng-selected='currentRole')
						.form-group.dater(ng-hide='browser.mobile')
							label.control-label {{ui.profile.birthday}}
							.controls
								input(name='date-start',
								type='text',
								ng-model='profile.birthDate',
								data-date-type='string',
								data-date-format='dd-MM-yyyy',
								bs-datepicker='',
								data-toggle='datepicker')
								i.icon-calendar
			
						.form-elements-group(ng-show='browser.mobile')
							label {{ui.profile.birthday}}
							.form-group.dater-mobile
								input.form-control(name='date-start',
								type='date',
								ng-model='profile.birthDate')
								
						.form-group(ng-class="{ 'has-error' : profileForm.email.$invalid && !profileForm.email.$pristine }")
							label.control-label E-mail
							.controls
								input.span4.form-control(type='email',
								name='email',
								required,
								ng-model='profile.email')
								span.help-block(ng-show='profileForm.email.$invalid && !profileForm.email.$pristine')
									small(ng-show="profileForm.$error.email")
										i
										| {{ ui.validation.email.notValid }}
	
						.form-group(ng-class="{ 'has-error' : profileForm.phone0.$invalid && !profileForm.phone0.$pristine }")
							label.control-label {{ui.profile.phone}} standaard
							.controls
								.input-group
									input.form-control.inputPhoneNumber0(type='text',
									name='phone0',
									ng-model='profile.phoneNumbers[0]',
									required,
									ng-change='checkPhoneNumber(profile.phoneNumbers[0], 0); setTeamMemberCodeAsPhone(0)',
									value='{{data.phoneNumbers[0]}}')
									span(class="input-group-btn")
										button(input-rule-toggle='0' class="btn btn-default input-buttons add-button" type="button")
											i(class="glyphicon glyphicon-white glyphicon-plus")
								p.text-danger(ng-hide='parsedPhoneNumbers[0].result')
									small
										i {{parsedPhoneNumbers[0].message}}
								p.text-success(ng-show='parsedPhoneNumbers[0].result')
									small
										i {{parsedPhoneNumbers[0].message}}
								span.help-block(style='margin-top: -5px;')
									small
										i {{ui.profile.pincodeInfoPhone}}
										
						.form-group(ng-show='data.phoneNumbers[1]', ng-class="{ 'has-error' : profileForm.phone1.$invalid && !profileForm.phone1.$pristine }")
							label.control-label {{ui.profile.phone}} extra
							.controls
								.input-group
									input.form-control.inputPhoneNumber1(type='text',
										name='phone1',
										ng-model='profile.phoneNumbers[1]',
										required,
										ng-change='checkPhoneNumber(profile.phoneNumbers[1], 1)',
										value='{{data.phoneNumbers[1]}}')
									span(class="input-group-btn")
										button(input-rule-toggle='1' class="btn btn-default input-buttons remove-button" type="button")
											i(class="glyphicon glyphicon-white glyphicon-remove")
										button(input-rule-toggle='1' class="btn btn-default input-buttons add-button" type="button")
											i(class="glyphicon glyphicon-white glyphicon-plus")
								p.text-danger(ng-hide='parsedPhoneNumbers[1].result')
									small
										i {{parsedPhoneNumbers[1].message}}
								p.text-success(ng-show='parsedPhoneNumbers[1].result')
									small
										i {{parsedPhoneNumbers[1].message}}
										
						.form-group(ng-show='data.phoneNumbers[2]', ng-class="{ 'has-error' : profileForm.phone2.$invalid && !profileForm.phone2.$pristine }")
							label.control-label {{ui.profile.phone}} extra
							.controls
								.input-group
									input.form-control.inputPhoneNumber2(type='text',
									name='phone2',
									ng-model='profile.phoneNumbers[2]',
									required,
									ng-change='checkPhoneNumber(profile.phoneNumbers[2], 2)',
									value='{{data.phoneNumbers[2]}}')
									span(class="input-group-btn")
										button(input-rule-toggle='2' class="btn btn-default input-buttons remove-button" type="button")
											i(class="glyphicon glyphicon-white glyphicon-remove")
								p.text-danger(ng-hide='parsedPhoneNumbers[2].result')
									small
										i {{parsedPhoneNumbers[2].message}}
								p.text-success(ng-show='parsedPhoneNumbers[2].result')
									small
										i {{parsedPhoneNumbers[2].message}}
										
						.form-group(ng-class="{ 'has-error' : profileForm.pincode.$invalid && !profileForm.pincode.$pristine }",
							ng-show='(app.resources.role == 1) || (profile.uuid == app.resources.uuid)')
							label.control-label {{ui.profile.pincode}}
							.controls
								input.span2.form-control(type='text',
								ng-model='profile.pincode',
								ui-mask='9999',
								ng-change='pincodeExists()',
								name='pincode')
								p.text-danger(ng-hide='pincodeExistsValidation')
									small
										i {{pincodeExistsValidationMessage}}
								span.help-block(style='margin-top: -5px;')
									small
										i {{ui.profile.pincodeInfo}}
							
						//.control-group
						//	label.control-label {{ui.teamup.func}}
						//	.controls
						//		select(ng-model='profile.function',
						//		ng-options='f.id as f.label for f in mfuncs',
						//		ng-selected='profile.function')
						.form-actions
							button.btn.btn-default.btn-color-brown(type="button", 
								ng-click='setViewTo("profile")') {{ui.teamup.confirms.cancel}}
							button.btn.btn-success(type='submit',
								ng-click='save(profile)') {{ui.profile.saveProfile}}

				#editImgTab.tab-pane(class="{{(views.editImg==true) && 'active'}}")
					div(style='overflow: hidden; height: 35px')
						h3.pull-left(style='margin-top: 0;')
							| {{ui.profile.editProfileImg}} : {{data.firstName}} {{data.lastName}}
						button.btn.btn-info.pull-right(type="button",
							ng-click='setViewTo("profile")') Terug
					hr
					div.roundedPicLarge(back-img = '{{data.uuid | avatar:"team":"368" }}')
					#uploadImgModule
						form.form-vertical(enctype='multipart/form-data')
							uploader(action='{{uploadURL}}')
							
				#editPasswordTab.tab-pane(class="{{(views.editPassword==true) && 'active'}}")
					div(style='overflow: hidden; height: 35px')
						h3.pull-left(style='margin-top: 0;')
							| {{ui.profile.changePassWord}}
					hr
					form.form-vertical(name='passWordForm', novalidate)
						fieldset
							.form-group
								label.control-label {{ui.profile.oldPassword}}
								.controls
									input.span3(type='password',
									ng-model='profile.oldpass')
							.form-group(ng-class="{ 'has-error' : passWordForm.password.$invalid && !passWordForm.password.$pristine }")
								label.control-label {{ui.profile.newPass}}
								.controls
									input.span3.form-control(type='password',
									ng-model='profile.newpass',
									name='password',
									required,
									ng-minlength="8",
									ng-maxlength="20")
									span.help-block(ng-show='passWordForm.password.$invalid && !passWordForm.password.$pristine')
										small
											i
											| {{ ui.validation.password.required }}
										small(ng-show="passWordForm.password.$error.minlength")
											i
											| {{ ui.validation.password.amountMinChars(8) }} 
										small(ng-show="passWordForm.password.$error.maxlength")
											i
											| {{ ui.validation.password.amountMaxChars(20) }}
							.form-group
								label.control-label {{ui.profile.newPassRepeat}}
								.controls
									input.span3(type='password',
									ng-model='profile.newpassrepeat')
							.form-actions
								button.btn.btn-default.btn-color-brown(type="button",
									ng-click='setViewTo("profile")') {{ui.teamup.confirms.cancel}}
								button.btn.btn-success(type='submit',
									ng-click='savePassword(profile)') {{ui.profile.safePassword}}
