#confirmProfileModal.modal.fade(tabindex='-1',
role='dialog',
aria-labelledby='confirmProfileModalLabel',
aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal')
					span(aria-hidden='true') ×
					span.sr-only Close
				h4#confirmProfileModalLabel.modal-title {{ui.teamup.confirms.deleteProfileTitle}}
			.modal-body
				| {{ui.teamup.confirms.deleteProfile}}
			.modal-footer
				button.btn.btn-default(type='button',
				data-dismiss='modal') {{ui.teamup.confirms.cancel}}
				button.btn.btn-primary(type='button',
				ng-click='deleteProfile()') {{ui.teamup.confirms.remove}}

section#profile
	.page-header: h2 {{data.name}}

	.row-fluid

		.tabbable.tabs-left

			ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0px;')
				li(class="{{(views.profile==true || views.edit==true) && 'active'}}")
					a(data-toggle='tab',
					ng-click='fixTabHeight("profileTab"); setViewTo("profile")')
						span.entypo 👤
						| {{ui.profile.profile}}

			.tab-content

				#profileTab.tab-pane(class="{{(views.profile==true) && 'active'}}")
					.tab-header
						h3.pull-left {{data.firstName}} {{data.lastName}}
						button.btn.pull-right.btn-info.marginLeftTen(type='button',
						ng-click='confirmDeleteProfile()') {{ui.teamup.del}}
						button.btn.pull-right.btn-info(type='button',
						ng-click='editProfile()') {{ui.profile.edit}}
					hr
					.row-fluid
						.widget(class="{{(!browser.mobile) && 'span9' || 'span12'}}")
							dl
								dt {{ui.teamup.teams}}
								dd
									span(ng-repeat='team in teams')
										span(ng-hide='app.resources.role > 1')
											a(href='#/team?uuid={{team.uuid}}#team') {{team.name}}
										span(ng-hide = '{{((teams.length-1) == $index)}}') ,
										span(ng-show = 'app.resources.role > 1') {{team.name}}
								dt {{ui.teamup.role}}
								dd {{data.role|translateRole}}
								dt {{ui.profile.phone}}
								dd {{data.phone}}
								dt {{ui.teamup.func}}
								dd {{data.function|translateFunc}}
								dt {{ui.profile.birthday}}
								dd {{data.birthDate|nicelyDate}}
						.widget.profilePic(class="{{(!browser.mobile) && 'span3' || 'span12'}}")
							.roundedPicLarge(back-img = '{{data.uuid | avatar:"team":"368" }}' class='{{data.states|stateColor}}')
							div
								a(href='#/profile/{{data.uuid}}#editImg')
									button.btn.btn-mini.btn-primary(ng-click='editImg()')
										i.icon-edit
								button.btn.btn-mini.btn-primary(type='submit',
								ng-click='removeImg(data.uuid)')
									i.icon-trash


				#editTab.tab-pane(class="{{(views.edit==true) && 'active'}}")
					div(style='overflow: hidden; height: 35px')
						h3.pull-left(style='margin-top: 0;') {{ui.profile.editProfile}}
					hr
					form.form-vertical
						.control-group
							label.control-label {{ui.profile.firstName}}
							.controls
								input.span4(type='text',
								ng-model='profilemeta.firstName',
								value='{{data.firstName}}')
						.control-group
							label.control-label {{ui.profile.lastName}}
							.controls
								input.span4(type='text',
								ng-model='profilemeta.lastName',
								value='{{data.lastName}}')
						.control-group(ng-hide='(app.resources.role > 1 && profilemeta.uuid != app.resources.uuid) || (currentRole > 1 &&  profilemeta.uuid == app.resources.uuid)')
							label.control-label {{ui.teamup.role}}
							.controls
								select(ng-model='profilemeta.role',
								ng-options='r.id as r.label for r in roles',
								ng-selected='currentRole')
						.control-group
							label.control-label {{ui.profile.phone}}
							.controls
								input.span3(type='text',
								ng-model='profilemeta.phone',
								value='{{data.phone}}')
						.control-group
							label.control-label {{ui.teamup.func}}
							.controls
								select(ng-model='profilemeta.function',
								ng-options='f.id as f.label for f in mfuncs',
								ng-selected='profilemeta.function')
									| {{ui.profile.birthday}}
								input.ng-pristine.ng-valid(name='date-start',
								type='text',
								ng-model='profilemeta.birthday',
								data-date-format='dd-mm-yyyy',
								bs-datepicker='',
								data-toggle='datepicker')
								i.icon-calendar
						.form-actions
							button.btn.btn-success(type='submit',
							ng-click='save(profilemeta)') {{ui.profile.saveProfile}}

				#editImgTab.tab-pane(class="{{(views.editImg==true) && 'active'}}")
					div(style='overflow: hidden; height: 35px')
						h3.pull-left(style='margin-top: 0;')
							| {{ui.profile.editProfileImg}} : {{data.firstName}} {{data.lastName}}
					hr
					div.roundedPicLarge(back-img = '{{data.uuid | avatar:"team":"368" }}')
					#uploadImgModule
						form.form-vertical(enctype='multipart/form-data')
							uploader(action='{{uploadURL}}')
