#confirmTaskModal.modal.fade(tabindex='-1', role='dialog',
aria-labelledby='confirmTaskModalLabel', aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal')
					span(aria-hidden='true') ×
					span.sr-only Close
				h4#confirmTaskModalLabel.modal-title {{ui.teamup.confirms.deleteTaskTitle}}
			.modal-body
				| {{ui.teamup.confirms.deleteTask}}
			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal')
					| {{ui.teamup.confirms.cancel}}
				button.btn.btn-primary(type='button', ng-click='deleteTask(_task)')
					| {{ui.teamup.confirms.remove}}


#taskModal.modal.fade(tabindex='-1', role='dialog',
aria-labelledby='taskModalLabel', aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal')
					span(aria-hidden='true') ×
					span.sr-only Close
				h4#taskModalLabel.modal-title
					span.text-turq {{task.relatedClient.fullName}}
					br
					| {{task.plannedTaskDuration.label}}
			.modal-body

				//pre: small {{task | json}}

				//h4.pull-right Taakinformatie
				dl
					dt Status
						dd {{task.statusLabel}}
					dt Tijdsbestek
						dd {{task.plannedTaskDuration.label}}
					dt Beschrijving
						dd {{task.description}}
					dt Gemaakt door
						dd
							a(href='#')
								| {{task.authorUuid}}

				hr

				//h4.pull-right Cliëntinformatie
				dl
					dt Cliënt
						dd
							a(href='#')
								| {{task.relatedClient.fullName}}
					dt Cliëntgroep
						dd
							a(href='#')
								| {{task.clientGroupUuid}}
					dt Adres
						dd
							a(href='#') {{task.relatedClient.fullAddress}}
					dt Telefoon
						dd {{task.relatedClient.phone}}

				hr

				//h4.pull-right Lid-informatie
				dl
					dt Naam
						dd
							a(href='#')
								| {{task.assignedTeamMemberUuid}}
					dt Team
						dd
							a(href='#')
								| {{task.assignedTeamUuid}}


			//.modal-footer
			//	button.btn.btn-default(type='button', data-dismiss='modal')
			//		| {{ui.teamup.confirms.cancel}}
			//	button.btn.btn-primary(type='button', ng-click='deleteTask(_task)')
			//		| {{ui.teamup.confirms.remove}}



.page-header
	h2.nullable
		| {{ui.task.tasks}}


.tabbable.tabs-left


	ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0px;')
		li(class="{{(views.myTasks==true) && 'active'}}")
			a(data-toggle='tab', ng-click='setViewTo("myTasks")')
				span.icomoon(data-icon='', aria-hidden='true')
				| {{ui.task.myTask}}
		li(class="{{(views.allTasks==true) && 'active'}}")
			a(data-toggle='tab', ng-click='setViewTo("allTasks")')
				span.icomoon(data-icon='', aria-hidden='true')
				| {{ui.task.allTasks}}
		li(class="{{(views.newTask==true) && 'active'}}", ng-hide="app.resources.role > 1")
			a(data-toggle='tab', ng-click='setViewTo("newTask")')
				span.icomoon(data-icon='', aria-hidden='true')
				| {{ui.task.newTask}}


	.tab-content




		#myTasks.tab-pane(class="{{(views.myTasks==true) && 'active'}}")
			.tab-header
				h3.pull-left {{ui.task.myTask}}
			hr

			article(ng-show='tasks.mine.loading'): p Eigen taken aan het laden..

			article(ng-hide='tasks.mine.loading')

				p(ng-hide='tasks.mine.list.length > 0') {{ui.task.noTasks}}

				table.table.table-striped.taskTable(ng-show='tasks.mine.list.length > 0')
					thead
						tr
							th
								a(ng-click='orderBy("status")') Status
									i.icon-sort
							th
							th
								a(ng-click='orderBy("relatedClient.fullName")') {{ui.task.clientName}}
									i.icon-sort
							th {{ui.task.information}}
							th
								a(ng-click='orderBy("plannedStartVisitTime")') {{ui.task.planningTime}}
									i.icon-sort
							th(colspan='1')

					tbody
						tr(ng-repeat='task in tasks.mine.list | orderBy:ordered : reversed')
							td: span.label(class='label-task-state-{{task.status}}') {{task.statusLabel}}
							td
								.roundedPicSmall.memberStateBusy(back-img='{{task.relatedClientUuid | avatar:"client":"80"}}')
							td
								small
									a(href='index.html#/clientProfile/{{task.relatedClientUuid}}#viewClient')
										| {{task.relatedClient.fullName}}
							td
								span.taskIcon.icon-location4(aria-hidden='true', data-icon='')
								small {{task.relatedClient.fullAddress}}
							td
								span.taskIcon.icon-time(aria-hidden='true')
								small {{task.plannedTaskDuration.label}}
							td
								.pull-right
									button.btn-primary.btn-mini(type='button', ng-click='unAssignTask(task)')
										i.icon-minus
									button.btn-primary.btn-mini(type='button', ng-click='openTask(task)')
										i.icon-info(style='margin-top:1px')
									button.btn-primary.btn-mini(type='button', ng-click='confirmDeleteTask(task)')
										i.icon-trash
				span.muted.pull-right
					small: i Er zijn {{tasks.mine.list.length}} taken.








		#allTasks.tab-pane(class="{{(views.allTasks==true) && 'active'}}")
			.tab-header
				h3.pull-left {{ui.task.allTasks}}
			hr

			article(ng-show='tasks.all.loading'): p Taken aan het laden..

			article(ng-hide='tasks.all.loading')

				p(ng-hide='tasks.all.list.length > 0') {{ui.task.noTasks}}

				//pre: small {{tasks.all.list[0] | json}}

				.well(style='padding-top: 25px')
					label(style='margin-right: 15px; display: none')
						input(type='checkbox', ng-model='showOnlyAvailable')
						small &nbsp;Toon alleen niet toegewezen taken
					label
						input(type='checkbox', ng-model='showAllTasks')
						small &nbsp;Toon gearchiveerde taken

				table.table.table-striped.taskTable(ng-show='tasks.all.list.length > 0')
					thead
						tr
							th
								a(ng-click='orderBy("status")') Status
									i.icon-sort
							th
							th
								a(ng-click='orderBy("relatedClient.fullName")') {{ui.task.clientName}}
									i.icon-sort
							th {{ui.task.information}}
							th(colspan='2')
							th
								a(ng-click='orderBy("assignedTeamMember.fullName")') Lid
									i.icon-sort
							th(colspan='1')

					tbody
						// tr(ng-repeat='task in tasks.all.list | filter: filterFn | orderBy:ordered : reversed')
						// tr(ng-repeat='task in tasks.all.list | filter: {assignedTeamMemberUuid: null} | orderBy:ordered : reversed')
						tr(ng-repeat='task in tasks.all.list | orderBy:ordered : reversed')
							td: span.label(class='label-task-state-{{task.status}}') {{task.statusLabel}}
							td
								.roundedPicSmall.memberStateBusy(
								back-img='{{task.relatedClientUuid |  avatar:"client":"80"}}'
								)
							td
								small
									a(href='index.html#/clientProfile/{{task.relatedClientUuid}}#viewClient')
										| {{task.relatedClient.fullName}}
							td
								span.taskIcon.icon-location4(aria-hidden='true', data-icon='')
								small {{task.relatedClient.fullAddress}}
								br
								span.taskIcon.icon-time(aria-hidden='true')
								small {{task.plannedTaskDuration.label}}
							td
								a.taskAssignIcon(href='')
									span.icomoon.icon-link(link-icon-hovered='',
									aria-hidden='true',
									ng-show='task.assignedTeamMember')
							td
								.roundedPicSmall.memberStateBusy(
								back-img='{{task.assignedTeamMemberUuid | avatar:"team":"80"}}',
								ng-show='task.assignedTeamMember'
								)
							td
								a(href='')
									| {{task.assignedTeamMember.fullName}}
							td
								.pull-right
									button.btn-primary.btn-mini(type='button',
									ng-hide='task.assignedTeamMember',
									ng-click='assignTask(task)')
										i.icon-plus
									button.btn-primary.btn-mini(type='button', ng-click='openTask(task)')
										i.icon-info(style='margin-top:1px')
									button.btn-primary.btn-mini(type='button', ng-click='confirmDeleteTask(task)')
										i.icon-trash
				span.muted.pull-right
					small: i Er zijn {{tasks.all.list.length}} taken.








		#newTask.tab-pane(class="{{(views.newTask==true) && 'active'}}",
		ng-hide="app.resources.role > 1")
			.tab-header
				h3.pull-left {{ui.task.newTask}}

			hr

			form
				.row
					.span6

						fieldset

							.control-group
								label.control-label Verzorger
								.controls
									select(ng-model='task.team',
									ng-options='t.uuid as t.name for t in teams | orderBy:"name" ',
									ng-selected='currentTeam',
									ng-change='changeTeam(task.team)')
										option(value='') Team
									select(ng-model='task.member',
									ng-options='m.uuid as (m.firstName + " " + m.lastName) for m in members | orderBy:"lastName" ',
									ng-selected='currentMember')
										option(value='') Lid

							.control-group
								label.control-label Cliënt
								.controls
									select(ng-model='currentGroup',
									ng-options='g.id as g.name for g in groups | orderBy:"name"',
									ng-selected='currentGroup',
									ng-change='changeClientGroup(currentGroup)')
										option(value='') Cliëntengroep
									select(ng-model='task.client',
									ng-options='c.uuid as (c.firstName + " " + c.lastName) for c in clients | orderBy:"lastName" ',
									ng-selected='currentClient',
									ng-change='changeClient(task.client)')
										option(value='') Cliënt

						fieldset

							.control-group.dater
								label.control-label {{ui.planboard.from}}
								.controls
									input(name='date-start',
									type='text',
									ng-model='task.start.date',
									data-date-format='dd-mm-yyyy',
									bs-datepicker='',
									ng-change='changeDate(date)')
									i.icon-calendar
									input(name='time-start',
									type='text',
									ng-model='task.start.time',
									ng-change='changeTime(time)',
									bs-timepicker='')
									i.icon-time

							.control-group.dater
								label.control-label {{ui.planboard.till}}
								.controls
									input(name='date-end',
									type='text',
									ng-model='task.end.date',
									data-date-format='dd-mm-yyyy',
									bs-datepicker='',
									ng-change='changeDate(date)')
									i.icon-calendar
									input(name='time-end',
									type='text',
									ng-model='task.end.time',
									ng-change='changeTime(time)',
									bs-timepicker='')
									i.icon-time

							.control-group
								label.control-label {{ui.task.description}}
								.controls
									textarea.span8(style='height: 150px', ng-model='task.description')

					.span6
						fieldset
							.control-group
							//google-map(center = 'map.center' zoom="map.zoom" id='task-map' draggable="true" dragging="map.dragging")
								marker(coords = 'clientCoords')
								markers(models = 'memberMarkers' )

				hr
				.form-actions
					button.btn.btn-success(type='button' ng-click='createTask(task)') {{ui.teamup.saveMember}}