.page-header

.tabbable.tabs-left

	ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0px;')
		li(class="{{(views.myTasks==true) && 'active'}}")
			a(data-toggle='tab',
			ng-click='setViewTo("myTasks")')
				span.icomoon(data-icon='',
				aria-hidden='true')
				| Mijn Taken
		li(class="{{(views.allTasks==true) && 'active'}}")
			a(data-toggle='tab',
			ng-click='setViewTo("allTasks")')
				span.icomoon(data-icon='',
				aria-hidden='true')
				| Alle Taken
		li(class="{{(views.newTask==true) && 'active'}}")
			a(data-toggle='tab',
			ng-click='setViewTo("newTask")')
				span.icomoon(data-icon='',
				aria-hidden='true')
				| Nieuwe Taak

	.tab-content

		#myTasks.tab-pane(class="{{(views.myTasks==true) && 'active'}}")
			.tab-header
				h3.pull-left Mijn taken
				button.btn.pull-right.btn-info.marginLeftTen(type='button') {{ui.teamup.del}}
				button.btn.pull-right.btn-info(type='button') {{ui.teamup.edit}}
			.tab-header.hide
				input.pull-left(type='text')
				button.btn.pull-right.btn-info.marginLeftTen(type='reset') {{ui.teamup.cancel}}
				button.btn.pull-right.btn-info.marginLeftTen(type='button') {{ui.teamup.save}}
			hr
			p(ng-hide='myTasks.length > 0') {{ui.task.noTasks}}				
			div(ng-show='myTasks.length > 0')
				table.table.table-striped.taskTable
					thead
						tr
							th
							th
							th
								a {{ui.task.clientName}}
							th
								a {{ui.task.information}}
							th
					tbody
						tr(ng-repeat='task in myTasks|orderBy:"plannedEndVisitTime"')
							td
								.dragIcon
							td
								.roundedPicSmall.memberStateBusy(style='background-image: url({{task.relatedClientUuid | avatar:"client":"80"}})')						
							td
								a(href='#') {{task.relatedClientUuid | getObjAttr:"client":"name" }}
							td
								dl
									span.taskIcon.icon-location4(aria-hidden='true', data-icon='')
									span.taskInfo  km {{task.relatedClientUuid | getObjAttr:"client":"address" }}
										a(href='http://maps.google.com/?q={{task.relatedClientUuid | getObjAttr:"client":"latlong" }}') {{ui.teamup.map}}
								dl
									span.taskIcon.icon-time(aria-hidden='true')
									span.taskInfo {{task.plannedStartVisitTime | date:'EEEE'}} {{task.plannedStartVisitTime | date:'HH:mm'}} - {{task.plannedEndVisitTime | date:'HH:mm'}} uur
								dl
									dd {{task.description}}
							td
								.pull-right
									a(href='#')
										button.btn-primary.btn-mini
											i.icon-edit
									button.btn-primary.btn-mini(type='submit')
										i.icon-trash
									a.noteLink
										p Opmerkingen
											i.icon-arrow-down2
				span.muted.pull-right
					small
						i
							| {{myTasks.length | i18n_spec:'groups.memberCount'}}


		#allTasks.tab-pane(class="{{(views.allTasks==true) && 'active'}}")
			.tab-header
				h3.pull-left Alle taken
				button.btn.pull-right.btn-info.marginLeftTen(type='button') {{ui.teamup.del}}
				button.btn.pull-right.btn-info(type='button') {{ui.teamup.edit}}
			.tab-header.hide
				input.pull-left(type='text')
				button.btn.pull-right.btn-info.marginLeftTen(type='reset') {{ui.teamup.cancel}}
				button.btn.pull-right.btn-info.marginLeftTen(type='button') {{ui.teamup.save}}
			hr
			p(ng-hide='allTasks.length > 0') {{ui.task.noTasks}}								
			div
				table.table.table-striped.taskTable
					thead
						tr
							th
							th
								a {{ui.task.clientName}}
							th
								a {{ui.task.information}}
							th
							th
								a {{ui.task.memberName}}
							th
					tbody
						tr(ng-repeat='task in allTasks|orderBy:"plannedEndVisitTime"')
							td
								.roundedPicSmall.memberStateBusy(style='background-image: url({{task.relatedClientUuid | avatar:"client":"80"}})')						
							td
								a(href='#') {{task.relatedClientUuid | getObjAttr:"client":"name" }}
							td
								dl
									span.taskIcon.icon-location4(aria-hidden='true', data-icon='')
									span.taskInfo km {{task.relatedClientUuid | getObjAttr:"client":"address" }}
										a(href='http://maps.google.com/?q={{task.relatedClientUuid | getObjAttr:"client":"latlong" }}') {{ui.teamup.map}}
								dl
									span.taskIcon.icon-time(aria-hidden='true')
									span.taskInfo {{task.plannedStartVisitTime | date:'EEEE'}} {{task.plannedStartVisitTime | date:'HH:mm'}} - {{task.plannedEndVisitTime | date:'HH:mm'}} uur
								dl
									dd {{task.description}}
							td
								.roundedPicSmall
							td
								a(href='#') {{task.assignedTeamMemberUuid | getObjAttr:"member":"name" }}						
							td
								.pull-right
									button.btn-primary.btn-mini(type='submit')
										i.icon-plus
									a(href='#')
										button.btn-primary.btn-mini
											i.icon-edit
									button.btn-primary.btn-mini(type='submit')
										i.icon-trash
									a.noteLink
										p Opmerkingen
											i.icon-arrow-down2
				span.muted.pull-right
					small
						i
							| {{allTasks.length | i18n_spec:'groups.memberCount'}}


		#newTask.tab-pane(class="{{(views.newTask==true) && 'active'}}")
			.tab-header
				h3.pull-left Nieuwe taak
			hr
			form
				.row
					.span6
						fieldset
							.control-group
								label.control-label Cliënt
								.controls
									select
										option(value='') Cliëntengroep
									select
										option(value='') Cliënt
							.control-group
								label.control-label Verzorger
								.controls
									select
										option(value='') Team
									select
										option(value='') Lid
						fieldset
							.control-group.dater
								label.control-label Begin
								.controls
									input(type='text')
									i.icon-calendar
									input(type='text')
									i.icon-time
							.control-group.dater
								label.control-label Eind
								.controls
									input(type='text')
									i.icon-calendar
									input(type='text')
									i.icon-time
							.control-group
								label.control-label Opmerkingen
								.controls
									textarea.span4

					.span6
						fieldset
							.control-group
								iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2461.4264625712335!2d4.452300999999999!3d51.90793!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c432d6cfa243cd%3A0xa8a80eca30f68c56!2sASK+Community+Systems!5e0!3m2!1sen!2s!4v1399557503251', width='400', height='300', frameborder='0', style='border: 0;')
				hr
				.form-actions
					button.btn.btn-success(type='submit') {{ui.teamup.saveMember}}