div.uploader

	input(type='file',
	name='file',
	style='display:none;',
	onchange='$(this).scope().sendFile(this);')

	div.fake-uploader
		input(type='button',
		name='Upload',
		value='{{uploadLabel}}',
		readonly='readonly',
		class='btn btn-info',
		ng-model='avatar')

	div.progress(ng-show='progress!=0')
		div.bar(ng-style="{ 'width': progress }")