.page-header.timeline.vis
	.text-right(style='float:right')

		//#timeline-controls.pull-right(style='text-align: right')
		//  h4(style='font-weight: normal; padding-right: 40px;') {{timeline.info.first}}
		//  h4(style='font-weight: normal; padding-right: 40px;') {{timeline.info.second}}
		//    br
		//    div(style='font-size: 15px; font-weight: lighter')
		//      span {{timeline.info.third}}

		time-board(timeline='timeline').timeline-periode
			h4 {{timeline.info.first}}
			h4 {{timeline.info.second}}
			h5: em {{timeline.info.third}}



.tabbable.tabs-left

	ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0px;')

		li(class="{{(views.teams==true) && 'active'}}")
			a(data-toggle='tab',
			ng-click='setViewTo("teams")')
				span.icomoon(data-icon='',
				aria-hidden='true')
				| Teams

	.tab-content

		#teams.tab-pane(class="{{(views.teams==true) && 'active'}}")
			.tab-header
				h3.pull-left Timeline

				time-nav(timeline='timeline')
				.btn-group.pull-right(ng-show='timeline.scope.custom')
					button.btn.btn-info(disabled='disabled') &lt;
					button.btn.btn-info(disabled='disabled') &gt;
				.btn-group.pull-right(ng-hide='timeline.scope.custom')
					button.btn.btn-info(ng-click='timeline.stepScope(-1)') &lt;
					button.btn.btn-info(ng-click='timeline.stepScope(1)') &gt;
				.btn-group.pull-right(style='margin-right: 15px')
					button.btn.btn-info(ng-click='timeline.setScope("day")',
					class='{{(timeline.scope.day) && "active"}}') Day
					button.btn.btn-info(ng-click='timeline.setScope("week")',
					class='{{(timeline.scope.week) && "active"}}') Week
					button.btn.btn-info(ng-click='timeline.setScope("month")',
					class='{{(timeline.scope.month) && "active"}}') Month
					button.btn.btn-info(ng-click='timeline.setScope("year")',
					class='{{(timeline.scope.year) && "active"}}') Year
					button.btn.btn-info(ng-click='timeline.setScope("custom")',
					class='{{(timeline.scope.custom) && "active"}}') Custom

			hr
			time-line(items='items', timeline='timeline')